[2018-06-21 10:46] rolivella opened #1 "JSON format for each MSRun"
I open this issue to discuss the MSRun JSON format. In this first draft we divided the JSON in two main parts: one with MSRun file metadata (filename, checksum, organism, instrument, etc.) and another one with the data itself. The "contextSource" allows to distinguish if the data is related either to the peptides inside the sample or to all the sample in general. We also follow the QC codes standa

[2018-06-21 13:37] ypriverol commented on #1
Can you provide us a version of the MSRun to start working with it.

[2018-06-21 14:34] rolivella commented on #1
Yep, sorry. This is the first draft we are working with:

[code]

[2018-06-21 14:37] ypriverol commented on #1
This is for the MSRun, But I was thinking to first are controlling general metadata such as Instrument, Fragmentation mode, etc.

[2018-06-21 15:10] rolivella commented on #1
I was thinking to put this information in the "file", for instance:

[code]

[2018-08-30 10:01] ypriverol commented on #1
Hi @rolivella we have a first prototype here: https://github.com/ypriverol/elixir-metadata-project/blob/master/technical-metadata/raw-file-metadata.json What do you think

[2018-09-22 19:51] #1 closed

[2018-09-26 18:13] StSchulze opened #2 "search-metadata: universal and engine specific parameters"
The current search-metadata json contains an AnalysisSoftwareList (ASL) to list the employed engines and a SpectrumIdentificationProtocolList (SIPL) to list the used parameters.

I wanted to discuss here, how this deals with multiple engines, especially in regard to engines having common and unique parameters?
1. If the position in ASL corresponds to the position in SIPL, then all common parameter

[2018-09-26 18:21] StSchulze opened #3 "search-metadata: values as strings/floats/integers/etc"
Currently, the type of values is not consistent, as sometimes values are given as integer/float (e.g. "missedCleavages" : 2), sometimes as string representing an integer/float (e.g. "tolerance" : {"value" : "0.6"}).
I think they should either be all given as strings, or the type for each value would need to be defined and then given in that type.

[2018-09-26 18:59] StSchulze opened #4 "search-metadata: complex analysis pipelines"
I would like to discuss here, how the search-metadata json could deal with compelx analysis pipelines.
The current format is based on the mzIdentML format, which doesn't support workflows (i.e. to give the order in which the engines were used or in whih parameters were changed). However, this would be important for slightly more compex workflows like cascaded searches or similar.
I guess one one q

[2018-09-26 19:04] StSchulze opened #5 "search-metadata: input files"
In the current search-metadata json format I don't see entries for the input/output file(s) that correspond to the search-metadata json. However, to my understanding, one PRIDE project can have multiple result files corresponding to the analysis of different input files (at least using ProteomeXchange one also needs to specify then, which files belong together). Since search parameters might vary,

[2018-09-28 07:34] ypriverol commented on #2
The current approach responds to mzIdentML design. We are free to change it. We can have three approaches as you said:

1- We repeat the  common search parameters for each search engine (e.g. FixMoficiations)

2- Have the parameters in one big list and all the search engines in another and as you said, would be difficult to associate search parameters - search engines.

I strongly believe we need

[2018-10-05 11:00] timosachsenberg opened #7 "MSrun metadata"
We probably also need to define units (e.g., as done in mzML) for the CV parameter

currently the example in README.MD is missing the unit:
"ScanSettings": [
    {
      "accession": "MS:1000016",
      "cvLabel": "MS",
      "name": "scan start time",
      "value": "0.00342666666666667"
    },

[2018-10-30 19:41] mwalzer opened #11 "sample description ambiguity"
what if we have more than one organism in a sample?
Notable examples would be metaproteomics or xenograft samples.

[2018-10-30 19:45] mwalzer opened #12 "experimental design 'file_path'"
do we want file paths?
Might be a good idea but should then be relative to the submission folder.
On the other hand, this will then reduce immediate reusability.

[2018-10-30 19:46] mwalzer commented on #12
Imagine if we have raw file conversions, but these then are in another folder(s).

[2019-08-15 22:18] ypriverol opened #13 "Encoding PTMs parameters into one-line Experimental Design"
@hbarsnes @mvaudel @StSchulze

We have continued working with the metadata experimental design.

See example, https://github.com/PRIDE-Archive/pride-metadata-standard/tree/master/experimental-design#2-the-sample-and-data-relationship-format

However, if we want to encode search parameters would be great to encode PTMs and other search parameters as key-value pairs. I have seen that MSGF+, Comet, M

[2019-08-16 01:47] prvst commented on #13
So you are basically talking about how the modifications are declared inside the parameter files, not on how they are represented inside the search results, right ? In this case I think that the proposal should be more human-readable than machine friendly. Parameter files are often shared with people who are not entirely familiar with proteomics or even sometimes used as proof of documentation for

[2019-08-16 06:35] mlocardpaulet commented on #13
Veit (and others) worked on this at proteoform level. But I think you could find their strategy interesting: LeDuc, R. D., Schwämmle, V., Shortreed, M. R., Cesnik, A. J., Solntsev, S. K., Shaw, J. B., … Tsybin, Y. O. (2018). ProForma: A Standard Proteoform Notation. Journal of Proteome Research, 17(3), 1321–1325. https://doi.org/10.1021/acs.jproteome.7b00851

[2019-08-16 06:55] ypriverol commented on #13
Thanks, @mlocardpaulet for the reference. We are more talking about PTMs as search parameters. In order to represent PTMs in results, we have good references (as you said) with ProForma, MzTab, and others.

The problem we want to solve is that if we annotate a PRIDE or ProteomeXchange experiment, we should annotate some parameters from the search in order to allow external tools like SearchGUI and

[2019-08-16 08:27] RalfG commented on #13
We often do something like this, in a JSON structure:
[code]

[2019-08-16 08:38] ypriverol commented on #13
Thanks @RalfG In the current proposal

[code]

Would be feasible to represent your JSON? We want first to have a tab-delimited representation to align more with the experimental design but in the future YES, we will serialize also to JSON.

In my proposal your first modification will be like:

[code]
The only thing missing is the mass shift, I didn't include it because it can be retrieved from the

[2019-08-16 08:58] mvaudel commented on #13
A few points you might want to consider:
- The target can be a single amino acid or an amino acid pattern (like in glyco). This can be encoded as a simple regular expression.
- The terminus can be peptide or protein.
- I strongly recommend _not_ to use the rounded mass, and rather stick to the atomic composition. I would make the atomic composition mandatory.
- If you are aiming for a format like

[2019-08-16 09:17] ypriverol commented on #13
@mvaudel:

Here my comments.

I like this idea. We should accept the pattern, However, what is the best way to encode a pattern in am standardize way. I can see here a lot of software and users writing their own pattern rules that are difficult to translate into a specific language. I found a link about how to standarize regular expressions https://www.regular-expressions.info/refflavors.html. Pro

[2019-08-16 09:24] ypriverol commented on #13
Hi @prvst

Yes, you should be able to go from here to an MSFragger parameters files and perform a reanalysis of your dataset.

Agree, but we should force to put enough information to enable the machines to enrich the files and perform the reanalysis. For example, if the UNIMOD id is provided, we don't need to add some of the fields... like composition, see my point with @mvaudel .

Agree @prvst, t

[2019-08-16 09:35] ypriverol commented on #13
@mvaudel about the regular expression, probably this is the standard:

http://pubs.opengroup.org/onlinepubs/9699919799/

[2019-08-16 12:12] trishorts commented on #13
For MetaMorpheus, we got our start using the UniProt ptmlist and just retained that format. There is a key value pair system that is pretty easy to interpret. There are mandatory fields and bonus fields. For example, we add diagnostic ions and neutral losses (dependent on fragmentation type). We also have a field that carriers equivalent accession numbers for the same mod in different database sys

[2019-08-16 12:16] ypriverol commented on #13
@trishorts can you provide me `.toml` file.

[2019-08-16 12:18] trishorts commented on #13
sure thing. Let me create one with interesting PTMs.

[2019-08-16 12:33] ypriverol commented on #13
Following @trishorts idea of `key=value` pairs for each property, we can update my first proposal:

`Name ; aminoacid; type; position; UnimodAccession`

example:

`Glu->pyro-Glu; E; fixed;  N-term; UNIMOD:27`

We can improve it using the key=value structure:

`ID=Glu->pyro-Glu; TG=E; TP=fixed; PP=Anywhere; UA=Unimod:27; CF=H(-2)O(-1)`

With this approach, we can control the key name (ID, TG, TY, T

[2019-08-16 12:49] mvaudel commented on #13
Sounds really nice, having explicit labels increases readability and flexibility. Indeed neutral losses and reporter ions are needed, thanks for putting this up. Here again, we use atomic composition and _never_ rounded mass ;)

[2019-08-16 12:53] ypriverol commented on #13
@mwalzer actually highlighted that we need to define what is optional and mandatory to be able to define a modification parameter.

I think the only mandatory value would be a name `ID` because with the name phosphorylation we can _guess_ most of the other fields.

[2019-08-16 12:56] mwalzer commented on #13
I like the key=value idea.
So it would be that a key can occur multiple times and be interpreted as a virtual list? I dont like much the use of different separation chars.

Two potential issues that I see in general are:
* how should a consumer interpret a metadata file with such PTM encoding when some keys are (because optional) missing
* and how to cope with conflicting information, say for exam

[2019-08-16 13:00] mvaudel commented on #13
My personal experience is - don't rely on Unimod.

[2019-08-16 13:07] trishorts commented on #13
Here are the key value pairs that MetaMorpheus uses with brief explanation

* AC Accession

An accession number of frequently supplied by the primary databases (e.g. UniProt and Unimod).
* CF Chemical formula (required if no MM is supplied/defined)

This is the chemical formula of the added or removed atoms. This is required but the mass shift used is specified by MM. The particular isotope of the

[2019-08-16 13:08] ypriverol commented on #13
@mwalzer some comments here:

I don't see in this particular case we can have more that one value for one particular key. That will be a different modification.

The idea would be:

|  | comment [modification parameters]   | comment [modification parameters] |
|-|-------------------------------------- |-----------------------------------   |
| sample 1 | ID=Glu->pyro-Glu; TG=E; TP=fixed; PP=Anywhe

[2019-08-16 13:10] trishorts commented on #13
We've found that you have to be very careful with "separators". Places like Unimod can be very sloppy. So you end up with a modification name that contains a comma or a semicolon and your whole reader goes splat.

[2019-08-16 13:16] ypriverol commented on #13
Agree.

I check before the proposal and `;` is not included in any **Interim Name** in Unimod. Then, we are probably fine. But, if the user uses the **description** then we can have some conflicts (e.g. `Loss of O; nitro photochemical decomposition`)

[2019-08-16 13:20] mvaudel commented on #13
Can we not just use quotes for all values?

[2019-08-16 13:23] ypriverol commented on #13
@mvaudel the problem is that then the users need to know that they need to type quotes, I don't think researchers are used to writing excel/tab-delimited files and define the quotes. We can specify that if `;` is present then quote should be specified.

But I really don't think `;` would be common for any of the values.

[2019-08-16 13:37] lgatto commented on #13
Some thoughts we had as part of your R/Bioconductor projects to represent PTMs in general (so not specifically for parameter files). See [this issue](https://github.com/rformassspectrometry/unimod/issues/7#issuecomment-461976927) for details, but in brief, a PTM can be id defined by what modification is described, how many there are (`n`) and its position:

- A **variable** modification is a modif

[2019-08-16 13:47] ypriverol commented on #13
Thanks, @lgatto for your comments.

[2019-08-16 13:50] trishorts commented on #13
It did just occur to me that we search PTMs encoded at the specific protein level as well as the general level. As @lgatto just says, we have a "variable" set, which is usually methionine oxidation; we have a "fixed" set, which is usually carbamidomethylation or maybe a label (e.g. TMT); and we have the specific protein level. What do I mean by that? Well, UniProt has annotated PTMs on many of its

[2019-08-16 13:51] trishorts commented on #13
I did a quick search on a couple files and here is an example of the variety of mods seen:

Localized mods seen below q-value 0.01:
	Carbamidomethyl on C	1304
	Oxidation on M	872
	Deamidation on N	191
	Water Loss on E	121
	Hydroxylation on P	118
	Hydroxylation on K	100
	Hydroxylation on N	80
	Acetylation on X	54
	Ammonia loss on C	51
	Ammonia loss on N	49
	Deamidation on Q	34
	Phosphorylation on S

[2019-08-16 13:53] trishorts commented on #13
This is a list of what was included in the original search:
All mods in database limited to peptides observed in the results:
	Hydroxylation on K	495
	Deamidation on N	372
	Hydroxylation on P	320
	Hydroxylation on N	241
	Deamidation on Q	239
	Citrullination on R	136
	Ammonia loss on N	132
	Water Loss on E	126
	Acetylation on K	124
	Methylation on K	95
	Phosphorylation on S	91
	Acetylation on X	65

[2019-08-16 13:54] trishorts commented on #13
And the .toml that didn't have any of them.
TaskType = "Search"

[SearchParameters]
DisposeOfFileWhenDone = true
DoParsimony = false
ModPeptidesAreDifferent = false
NoOneHitWonders = false
MatchBetweenRuns = false
Normalize = false
QuantifyPpmTol = 5.0
DoHistogramAnalysis = false
SearchTarget = true
DecoyType = "Reverse"
MassDiffAcceptorType = "OneMM"
WritePrunedDatabase = false
KeepAllUniprotMods

[2019-08-16 13:58] ypriverol commented on #13
We can't capture this complexity and this is mainly what PEEF and Uniprot annotations will be providing for future algorithms. I don't think we need to capture that part of the modifications. In the same way, we will be capturing Fragment/Precursor tolerances but we know Most of the search engines do `two step searches`  where they can refine the parameters.

[2019-08-16 14:05] timosachsenberg commented on #13
If we want to balance complexity vs users experience I think we can't reduce much more than:
type: fixed vs. variable
location: anywhere vs protein N/C-term vs. peptide N/C-term
specificity: any AA vs specific to one (or a specificity) group of AAs

Nice to have would be already mentioned constraints to properly search for triple SILAC etc. but I guess this could (hopefully) also be induced from t

[2019-08-16 14:23] ypriverol opened #14 "How to move / implement the new experimental design representation."
Ron Beavis has pointed (https://twitter.com/NorSivaeb/status/1162367851669405697) that would be good to discuss how to move from current implementations to the new Experimental Design metadata representation.

For example, How we will move from the current search parameters to read / write use cases like the PTMs representation (discussion ongoing https://github.com/PRIDE-Archive/pride-metadata-st

[2019-08-16 16:02] ypriverol commented on #13
Hi all, taking into account the comments from @prvst @RalfG @mlocardpaulet @trishorts @mwalzer @lgatto and all the comments in this issue; I have made a first proposal https://github.com/PRIDE-Archive/pride-metadata-standard/pull/15 to encode PTM parameters into tab-delimited file (Experimental Design). Have a look to the PR and comment there the first prototype. We can elablorate more issues and

[2019-08-16 16:13] StSchulze commented on #13
I know I'm coming in late to the discussion, but I agree that the key=value pair is a good solution.
And I just wanted to add that, in my opinion and as @mvaudel said, chemical compositions should be required (or at least favored) instead of the monoisotopic mass, especially for mods that are defined by the user and not included in unimod, it would otherwise be impossible to get the composition (w

[2019-08-16 16:27] trishorts commented on #13
Yes. I think that chemical compositions can be very helpful. I prefer them myself. But there are tricky cases. Either trimethyl or acetyl (can't remember which) where the monoisotopic mass change does not match the chemical formula.

[2019-08-16 16:31] RonBeavis commented on #13
Regarding PTM specification in particular, I would like to support the idea that some type of motif/regular expression specification is necessary to properly instruct a search algorithm.

A very simple protein N-terminal processing can result in the loss of the initiator methionine, exposing the next residue as the mature N-terminus, which may be in turn acetylated. But only some residues can be a

[2019-08-16 22:01] ypriverol opened #16 "How to define site for C-term and N-term modifications"
The current PR https://github.com/PRIDE-Archive/pride-metadata-standard/pull/15 proposed the `Target Amino acid (TA)` that defines which amino acids will be affected by the modification. The first decision we need to make is, How do we handle C and N term sites.

In Unimod C and N term sites (amino acid target ) are defined as: C-term and N-term. How is this defined in other tools @StSchulze @tris

[2019-08-16 22:32] RalfG commented on #16
As there are modifications that only occur on specific amino acids, only at the N-terminus (Glu->pyro-Glu for instance, if I remember correctly), I think it's best to split up these two properties into two keys. The first would be "amino acid", which could be a specific amino acid, a pattern, or (maybe too as a pattern) any amino acid. The second would be whether or not the modification only occur

[2019-08-17 09:02] mvaudel commented on #16
Agree with @RalfG. Having the type of target (peptide N-term, protein N-term, peptide C-term, protein C-term, amino acid side-chain) in a mandatory term and amino acid motif as optional term is easier.

[2019-08-17 09:21] mvaudel commented on #13
In addition, it should be possible to specify where the modification is attached on the motif. The format needs to specify that it is zero-based and what the default is.
e.g. `motif="[ST]" target=-2` would search modifications two amino acids before any S or T, which would be equivalent to `motif="XX[ST]"` with a default target of 0. `motif="[ST]" target=1` would look for a modification after any

[2019-08-17 11:09] RalfG commented on #16
This looks good! I guess the only tricky part to add with this method (and we're really going into details here) is which parts of the amino acid are blocked by the modification: side-chain or backbone terminus (NH2- or -COOH). Correct me if I'm wrong on this one, but I guess you could have a variable modification on the first amino acid's side-chain AND a modification on the same amino acids N-te

[2019-08-18 13:55] ypriverol commented on #13
PTM site position ongoing discussion:

I will try to summarize the discussion about PMT parameter site, which is stoping the first PR https://github.com/PRIDE-Archive/pride-metadata-standard/pull/15 .

1- Target Amino acid (TA) (Proposed by @ypriverol)
[code]
Target amino acid letter. If the modification target multiple sites, it should be provided as Target Regular Expression (TR).

**Pros**:

-

[2019-08-18 14:03] RalfG commented on #13
I tend to prefer option 2, as it is more comprehensive and correct. I agree that this option is more difficult for human submitters and human readers, but a well-designed submission form should be able to take these issues away for the common modifications.

I suspect that regex validators already exist for most programming languages?

[2019-08-18 15:51] mobiusklein commented on #13
Option 2 still lacks a way to express which amino acid is the actual target. In this case, the N-glycosylation motif modifies the first amino acid (`N`), but this isn't guaranteed to be the case. The bacterial N-glycosylation motif has a prefix as well as a suffix around the modification site: `[DE][^P]N[^P][ST]`.

To be able to use a regular expression, we would need to either A) specify capture

[2019-08-18 22:25] ypriverol commented on #13
Can we list a set of examples with the name of modifications and possible Regular expressions? @mvaudel @RonBeavis @mobiusklein @trishorts . I think it will help us to define more clearly option 2.

[2019-08-19 01:22] mobiusklein commented on #13
Beyond glycosylation motifs, I do not know many that are "hard rules", and we stray into a gray area between blind combinatorial expansion rules vs. prescribed target sites from a database.

You can draw a few from PROSITE:

Phosphorylation
https://prosite.expasy.org/PDOC00004 `[RK]{2}.([ST])`
https://prosite.expasy.org/PDOC00005 `([ST]).[RK]`
https://prosite.expasy.org/PDOC00006 `([ST])..[DE] `
h

[2019-08-19 09:43] ypriverol commented on #13
@mobiusklein :

This representation is more complex than I was thinking to represent because it also encode the information of the Enzyme. What do ou think @mvaudel @trishorts @RonBeavis

[2019-08-19 13:59] trishorts commented on #13
I don't really have any comments about how you represent motifs. I like having motifs where they are appropriate. We don't use regex unless it can't be avoid.

[2019-08-19 14:04] trishorts commented on #13
New topic. I'm no longer certain just what you are trying to capture here. I see two competing themes. One is an attempt to capture how a submitted data set WAS searched. And the other is to capture how a submitted data set SHOULD HAVE BEEN searched. I think there are some important considerations like those that Ron has mentioned earlier that will eliminate lots of false positives. But I see that

[2019-08-19 14:50] ypriverol commented on #13
Thanks for this comment @trishorts, I think in the document I make clear what is the original intention of these efforts.

1.- THIS IS THE MAIN INTENTION. The current metadata about experimental design is really poor into public databases including PRIDE. This problem makes really difficult data reuse and reproducibility. We want to provide a tab-delimited format that enriches the data submission

[2019-08-19 15:00] trishorts commented on #13
as I undertand it then we need a target REGEX that will capture what was searched including motifs and that "we" shouldn't block any motif/PTM combos. So, if someone search variable phosphorylation on say alanine, then AT = A, that's what we want to know. I think this clarifies everything for me. Thanks. BTW, I couldn't begin to construct such a REGEX.

[2019-08-19 15:13] mobiusklein commented on #13
Splitting modification specification into "amino acid target" TA and a "constraint pattern" TR where appropriate seems reasonable. Specifying everything as a regex would be difficult, especially since there are so many ways to write the same pattern.

Is the intent of this experimental design section to capture all modifications, or only variable modifications? Should open search engines and multi

[2019-08-19 16:22] ypriverol commented on #13
@trishorts:

Can you review the following PR https://github.com/PRIDE-Archive/pride-metadata-standard/pull/15 ? I did minor changes to reflect the latest discussion.

The only thing is pending is that modifications that affect N and C term positions, not aminoacids, how to define them. I like the UNIMOD definition `N-term` and `C-term`.

[2019-08-19 16:36] RalfG commented on #13
@ypriverol:

If we are talking about modifications targeting the N-term NH2- or the C-term -COOH, I think `N-term` and `C-term` would be good ways to describe them. If we are talking about PTMs specifically targeting the side-chain of an N-term/C-term amino acid, I would go for `.`, `*` or `any` in combination with the `PP` (polypeptide position) key.

Mass shift-wise, this does not really matter.

[2019-08-19 16:37] ypriverol commented on #13
OK

I will open a new issue about that, to discuss possible implementations. In the current PR https://github.com/PRIDE-Archive/pride-metadata-standard/pull/15 that definition is pending until we have a decision.

Variable and fixed modifications define as parameters in the search. See the definition in the PR https://github.com/PRIDE-Archive/pride-metadata-standard/pull/15

For "dark modification

[2019-08-19 16:42] trishorts commented on #13
I'm on board with this

[2019-08-19 16:43] trishorts commented on #13
woops

[2019-08-19 16:47] RalfG commented on #13
For open modification search engines that search for a (very large) fixed list of modifications, this would work. But some open modifications search engines do not have an _a priori_ list of modifications to search for. For those search engines, it would be good to include an `any mass shift` or `open search` tag in the `data analysis protocol`.

[2019-08-19 16:56] mobiusklein commented on #13
Glycoproteomics search engines do not use "site specific" databases, though should the repositories become complete enough, that'd be desirable. Most of them simply put every single glycan of the appropriate type at each site just like any other variable modification. PEFF has not yet standardized how to communicate the range of glycoforms expected at a specific site, simply that a site is glycosy

[2019-08-19 17:34] jpfeuffer commented on #13
Hi @ypriverol and others:

I was wondering how one would represent mutually exclusive modifications like SILAC modifications:
Some search engines like Comet allow for a simultaneous search of such modifications (encoded in the "binary group" column of its parameters at the end of the page [here](http://comet-ms.sourceforge.net/parameters/parameters_201801/variable_mod01.php)).
With other search en

[2019-08-19 17:38] ypriverol commented on #13
@jpfeuffer Can you propose how to encode that into a `key=value` representation.

[2019-08-19 17:49] jpfeuffer commented on #13
Maybe an optional key "BG" for every modification with integer values representing the group of modifications that should be/were searched together in a binary (all-or-none) way.
If this optional key is missing the modification is handled as usual (and considered on its own).
You could adapt the description from the Comet page in your documentation.

If the searches were performed separately e.g.

[2019-08-19 22:38] ypriverol commented on #16
The current implementation will define as `TA` all possible amino acids. In addition, as suggested by @RalfG we will use the following notations:

N-term for  NH2-
C-term for -COOH
.            for side-chain of an N-term
*            for side-chain of a C-Term

[2019-08-19 23:03] StSchulze commented on #16
To me it's not clear how this differentiates between peptide and protein N/C-term?

So I would agree with the nomenclature of @mvaudel

I think I also haven't seen any engines, for which one can specify that a side chain is modified but only if the amino acid is at the terminus of a protein/peptide. So I guess that could be a special case that could be omitted for now. Besides that it could be cov

[2019-08-20 06:31] ypriverol commented on #13
@jpfeuffer I was thinking that most of the search engines used SILAC and multiplex modifications as `Variable modifications` and this solves the problem of the binary.

[2019-08-20 06:35] ypriverol commented on #16
@StSchulze  The current specification defines the position `TP` as Protein N-term, Protein C-term, Anywhere, C-term and N-term. The second property we agree on is Target Amino Acid `TA` that defines the aminoacids affected separated by a comma. Finally, we need to agree in the Target Site `TS` that will be the by the amino_acid motif/regex.

[2019-08-20 09:17] ypriverol opened #17 "Encoding PTM sites as Regular expressions"
The issue #13 highlighted the needs to encode PTMs as Regular expressions. In the first proposal this will be implemented using the Target Site `TS` key. The following comments discuss the potential to encode the complexity of PTMs into Regular expressions:

- @RonBeavis comment https://github.com/PRIDE-Archive/pride-metadata-standard/issues/13#issuecomment-522070819

- @mvaudel https://github.com

[2019-08-20 12:59] StSchulze commented on #16
Sorry, I guess I should have been more specific: I don't see a differentiation between protein and peptide N/C-term for `.` and `*` or if it is specific to the peptide N/C-term, then an equivalent for the protein N/C-term would be missing.

As an aside, I would still be in favor of a more explicit nomenclature ("Peptide N/C-term" instead of "N/C-term"; "amino_acid" instead of "TA", etc.) but that

[2019-08-20 13:08] ypriverol commented on #16
Some comments:

I try to follow here the UNIMOD definition for the Target position, which are:

- Any C-term
- Any N-term
- Anywhere
- Protein N-term
- Protein C-term

I really would like to have a more explicit nomenclature but I have the feeling that the tab-delimited representation will be huge. I will create an issue, and after the first proposal get more elaborated, we can vote for more expli

[2019-08-20 15:30] RalfG commented on #16
Just to clarify my proposal, @StSchulze, @ypriverol:

Among the different parameters, we would have:

**TA (target amino acid)**
Defines which specific amino acid is targeted by the modification. Could be:
- One amino acid (side chain): `S`
- Multiple amino acids (side chain): `S,T,Y`
- Any amino acid (side chain): `*`
- N-term amino acid's NH2-: `N-term`
- C-term amino acid's -COOH: `C-term`

**P

[2019-08-21 14:39] ypriverol opened #19 "Encoding more information about the Enzyme"
@trishorts has made a comment https://github.com/PRIDE-Archive/pride-metadata-standard/pull/18#discussion_r315805160 that would be possible to encode more information around the Enzyme:

We could have a plain to read key value system, but the only one I come up with is complicated. But, I think you can keep it all.

Cleavage Before CB=
Cleavage After CA=
Blocked Before BB=
Blocked After BA=

[2019-10-15 23:09] ypriverol opened #20 "New Example file from three PX projects"
Hi all:

I just annotate three different projects from PRIDE (1000 raw files) more than 59 cell lines. Here the example https://github.com/bigbio/multiomics-configs/blob/master/datasets/NCI60/sdrf.tsv . We should be able to start from here reanalysis.

Feedback more than welcome @lgatto @mvaudel @mwalzer @trishorts @StSchulze @hbarsnes

[2019-10-16 14:27] trishorts commented on #20
Need to understand the sheet more. Why is there only one protein accession. Also would be good to know precursor tolerance. What about sample treatments? What about enrichment? Are these whole cell lysates or phosphopeptide enrichment? do you have a way to specify top-down/bottom-up? Other MS data like orbitrap v. iontrap v. tof. Ion mobiliity is getting good. do we know that? What about DIA and D

[2019-10-17 20:29] ypriverol commented on #20
Hi @trishorts:

Here some ideas about the tab-delimited file. These annotations correspond to projects PXD005940, PXD005942, PXD005946, manuscript http://europepmc.org/abstract/MED/23933261 from @kuster lab and @mwilhelm42. Reply to somoe of your questions:

The file do not contain accessions to proteins only experimental design metadata.

This is a really good point, however, the authors of the p

[2019-10-17 21:39] ypriverol commented on #20
As discussed by @jgriss I have included the PRIDE uri for each raw file https://github.com/bigbio/multiomics-configs/blob/master/datasets/NCI60/sdrf.tsv

[2019-10-17 23:13] StSchulze commented on #20
I'm not exactly sure if the aim is to reflect the
1) sample preparation + MS measurement in order to have all information needed for reanalysis
or 2) search parameters of the original analysis in order to reproduce the search results (or reanalyze/modify/...)

In case of 1) I'm missing the following:
- MS1 and MS2 resolution. I think this would be more useful than precursor/fragment mass tolerance

[2019-10-18 06:52] magnuspalmblad commented on #20
I agree resolving power (a.k.a. "resolution") is great to have, but is _m_/_z_-dependent (especially in FTMS) and different vendors use different definitions. One well-known manufacturer even changes theirs depending on what their marketing people want, sometimes _m_/_z_ 400, sometimes 200...). The definition must be specified for the number to be meaningful.

Mass measurement uncertainty is limit

[2019-10-18 09:47] ypriverol commented on #20
Hi @StSchulze:

Some ideas..

The aim is to recreate as much as possible the experimental design to reanalyze and understand the experiment. Not to reproduce the original analysis. Reproduce the original analysis is a more complex problem because you will need software specific parameters, etc. For example in this submission, the users use Precursor tolerance estimation from MaxQuant,  this is rea

[2019-10-18 09:51] ypriverol commented on #20
Hi @magnuspalmblad, first of all thanks for the feedback.

I agree with you, and that is the main reason why we should standardize the way we add resolutions taking into account How search engines represent them? Because I want to provide a parameter there that can be useful for search engines and tools for reanalyzis.

Agree.

The current parameters reflect what the users have added to their `Pro

[2019-10-18 12:55] trishorts commented on #20
Happy to get either tolerance or resolution (as one other commenter stated). I'm not as worried if its defined at 200/400 mz but I want to know the ballpark. MS1 tolerance is important because we re-donvolute and look for co-isloated species. MS2 tolerance matters because we search differently for high and low res data.

Labelling is the biggest (tmt, itraq, dileu, etc). But also knowing if sample

[2019-11-27 17:04] mwalzer opened #33 "Chromatography is a major contributor to variance, we should add metadata from that"
see #32

[2019-11-27 17:04] mwalzer commented on #33
But do we need Temperature and Pressure?

[2019-11-27 17:08] mwalzer commented on #33
Is it conceivable to drive non-linear gradients?

[2019-12-13 12:12] mwalzer opened #38 "To make local use of SDRF easier, we should change `Comment` recommendations"
See here for some discussion about it: https://github.com/bigbio/ptalk/issues/2#issuecomment-565417247
I think it would be a good recommendation to have the URL. it is described right now in [3.1](https://github.com/PRIDE-Archive/pride-metadata-standard/tree/master/experimental-design#31-additional-raw-file-properties) as URI and I suggest we specify a comment URL that will have the public URL exc

[2019-12-13 12:24] mwalzer commented on #38
Suggested some changes in https://github.com/PRIDE-Archive/pride-metadata-standard/pull/39

[2019-12-19 17:09] mwalzer opened #40 "We need to improve the examples"
* Is it `Characteristics[data file]` (PXD000612) or `Comment[data file]` (NCI60)?
* Also using 'sample n' for a `Source name` is misleading if there is a `Sample column` (and if there is not, too).
* What keeps us from using/adapting the `Labeled extracts` column?

[2019-12-19 17:19] mwalzer commented on #40
If I understood correctly, the `Source name` should comprise all fractions (could we use Extractions from the original sdrf definition?).

[2019-12-19 17:26] timosachsenberg commented on #40
Thanks for bringing this up. Had the same problem with one of the examples where it was not clear how to group all fractions corresponding to the same biological replicate.

[2020-02-13 21:09] ypriverol opened #41 "PXD011799"
https://www.ebi.ac.uk/pride/archive/projects/PXD011799

[2020-02-13 21:12] ypriverol commented on #41
@jgriss can you help us to annotate this project.

[2020-02-13 21:16] ypriverol opened #42 "PXD013057"
https://www.ebi.ac.uk/pride/archive/projects/PXD013057

[2020-02-13 21:17] ypriverol opened #43 "PXD008012"
https://www.ebi.ac.uk/pride/archive/projects/PXD008012

[2020-02-13 21:20] ypriverol opened #44 "PXD004682, PXD004683, PXD004684"
https://www.ebi.ac.uk/pride/archive/projects/PXD004682
https://www.ebi.ac.uk/pride/archive/projects/PXD004683
https://www.ebi.ac.uk/pride/archive/projects/PXD004684

[2020-02-13 21:29] #16 closed

[2020-02-13 21:29] #7 closed

[2020-02-13 21:30] #11 closed

[2020-02-13 23:49] ypriverol opened #45 "PXD012255"
https://www.ebi.ac.uk/pride/archive/projects/PXD012255

[2020-02-14 07:58] mvaudel opened #46 "Other experimental readouts, external identifiers"
A raw file is never acquired alone: experimental designs include other experimental readouts like a QC gel, functional follow-up, or other molecular data (sequencing, metabolites, protein properties characterization). Should these be included as well or do you want to stick to the MS file? If external identifiers are available (eg sequencing or metabolites), it would be extremely useful to have th

[2020-02-14 09:03] mwalzer commented on #11
@ypriverol  whats the solution to that?

[2020-02-14 11:58] ypriverol commented on #46
@mvaudel the current format aims to capture the sample metadata to enable reprocessing. The world of Transcriptomics captures into other files more metadata as protocols, etc which I think is important but after years of submissions, it has been seen that nobody use. From these new features which ones do you think we can translate into columns? Which ones do you think are really relevant for the e

[2020-02-14 13:16] timosachsenberg opened #48 "Provide example for multiplexed and fractionated sample"
I think we should give an example of how fractions of the same biological sample are grouped.
Ideally in the context of multiplexed data as this is kind of the most complex example.
Also MSstats e.g., considers e.g. pooled normalization channels and has the concept of mixtures.
Basically we should extend
https://github.com/bigbio/proteomics-metadata-standard/tree/master/experimental-design#3-from-

[2020-02-14 13:22] ypriverol commented on #48
@timosachsenberg can you do a proposal based on MSTasts. I don't really understand what means `biological sample are grouped` and how this is different from `the experimental factor` the variable that will be finally evaluated.

[2020-02-14 13:40] timosachsenberg commented on #48
MSstats has the concepts of:
Run, Fraction, TechRepMixture, Channel, Condition, BioReplicate and Mixture

where:
Run : is just the filename
Fraction : Fraction identifier (e.g., the fraction number). One technical replicate of one mixture may be fractionated into multiple fractions (1,..,n) to increase the analytical depth.
Channel : Labeling information (TMT6_126, ..., TMT6_131).
Condition : Cond

[2020-02-14 13:52] timosachsenberg commented on #48
So let's take a look what we have:
Run="Comment [data file]"
Channel=Comment [Label]
Fraction=Comment [Fraction Identifier]
BioReplicate="Source Name"  (why optional in spec?)
Condition="Factor Value[NAME OF THE CONDITION]" (what if conditions span multiple factors?)
Mixture =  Currently not modeled. Absolutely needed to group all fractions together!
TechRepMixture=Currently not modeled. Needed to

[2020-02-14 13:56] ypriverol commented on #48
Should we make then **"Mandatory"**

This is really simple, nothing stops you to provide multiple Factor Value[CONDITION 1], Factor Value[CONDITION 2] ... Factor Value[CONDITION n]

Can you elaborate on what are these Mixtures?

[2020-02-14 14:06] timosachsenberg commented on #48
I mean what if ONE condition spans multiple factors

mixture: you can have sample 1,2,3,4,5,6 measured in TMT6plex but also as e.g., 6,5,4,3,2,1 (aka channel swap)
If you have multiple fractions you can not distinguish the fractions corresponding to 1,2,3,4,5,6 from the ones corresponding to 6,5,4,3,2,1 except if you have the mixture identifier

[2020-02-15 21:40] ypriverol opened #50 "Adding Experiment type to the sample metadata"
I think it would be a good idea to include the `Proteomics Data Acquisition Method` to explain the type of experiment, this term is in the `NCI Thesaurus OBO Edition`  ontology and the terms are:

- Data-Dependent Acquisition
- Data-Independent Acquisition
- Parallel Reaction Monitoring
- Selected Reaction Monitoring

[2020-02-17 14:02] jgriss commented on #41
@ypriverol Of course! Just assign the issue to me!

[2020-02-18 18:37] ypriverol commented on #40
@mwalzer thanks for reporting this. Here I have fixed some of the examples https://github.com/bigbio/proteomics-metadata-standard/pull/62

[2020-02-18 18:37] #40 closed

[2020-02-18 18:55] ypriverol commented on #33
@mwalzer can you do a PR where you suggest in the specification how to encode additional metadata related with the Chromatograms, here the place to put the information (https://github.com/bigbio/proteomics-metadata-standard/blob/master/experimental-design/README.adoc#4-msrun-technical-details-properties)

[2020-02-18 18:56] #12 closed

[2020-02-18 18:56] #5 closed

[2020-02-18 18:57] #2 closed

[2020-02-18 18:59] #14 closed

[2020-02-18 18:59] #19 closed

[2020-02-18 18:59] #4 closed

[2020-02-18 19:06] ypriverol commented on #13
Thanks to all for your comments, I will close this issue because we have a proposal now https://github.com/bigbio/proteomics-metadata-standard/tree/master/experimental-design#encoding-protein-modifications

[2020-02-18 19:06] #13 closed

[2020-02-18 19:08] #38 closed

[2020-02-18 19:08] #3 closed

[2020-02-18 22:00] ypriverol opened #63 "PXD014525"
https://www.ebi.ac.uk/pride/archive/projects/PXD014525

[2020-02-18 22:12] ypriverol opened #64 "PXD003531"
https://www.ebi.ac.uk/pride/archive/projects/PXD003531

[2020-02-18 22:14] ypriverol opened #65 "PXD000612"
https://www.ebi.ac.uk/pride/archive/projects/PXD000612

[2020-02-18 22:36] ypriverol opened #66 "The 100 - most downloaded projects from PRIDE"
Would be great if we can annotate this list:

[code]

[2020-02-19 09:50] mvaudel commented on #66
Here is a sheet with the different projects to annotate:
https://docs.google.com/spreadsheets/d/1-kb_rP0MEt2eTlUPnZe4llTwJi4xdKYnJtBQ5cXKnhw/edit?usp=sharing

_How to get started?_

1. Pick your favorite PXD project or add your own
2. Register your contribution/contact other contributors
3. Follow the instructions [here](https://github.com/bigbio/proteomics-metadata-standard#annotate-project)

[2020-02-24 11:14] timosachsenberg opened #77 "Group fractions in PXD000561"
https://github.com/bigbio/proteomics-metadata-standard/blob/master/annotated-projects/PXD000561/sdrf.tsv

@ypriverol should the sample id be the same for all of its fractions

[2020-02-24 11:17] ypriverol commented on #77
The sample id is an identifier used by the annotator to differentiate samples, it is not the same for all fractions.

[2020-02-24 12:33] timosachsenberg commented on #77
so how do you find out which fractions belong together in this example?

[2020-02-24 12:36] timosachsenberg commented on #77
and how should these be different samples if they are just different fractions? Shouldn't this be the same sample measured in several fractions?

[2020-02-24 13:17] ypriverol commented on #77
This is something we need to model with another variable. The `sample id` is a unique identifier for each ROW.

[2020-02-24 13:27] timosachsenberg commented on #77
ok, I see. Thanks for clarifying. Would it make sense to use a different name for the row identifier (instead of "sample X")?
For example, one could call it "quant id" as it represents one quantitative value that gets measured (i.e. it works for label-free as well as for a channel in a multiplexed experiment).

[2020-02-24 13:35] ypriverol commented on #77
We can do that but this will be up to the user. I think we need to finally introduce the concept about how we organize the fractions that belong to the same `Biological Sample`

[2020-02-24 13:39] timosachsenberg commented on #77
as well as technical replicates and "mixtures" the concept in MSstatsTMT that allows to model if samples are measured in different channels

[2020-02-25 15:34] javizca opened #81 "Minor refinements in SRDF Spec Document"
In the table:

|===
| source id  | comment[data file] | comment[label] | comment[fraction identifier] | comment[technical replicate]
| 1 | 000261_C05_P0001563_A00_B00K_F1_TR1.RAW | label free sample | 1 | 1
| 2 | 000261_C05_P0001563_A00_B00K_F2_TR2.RAW | label free sample | 2 | 2
| 3 | 000261_C05_P0001563_A00_B00K_F1_TR1.RAW | label free sample | 1 | 2
| 4 | 000261_C05_P0001563_A00_B00K_F2_TR2.RAW

[2020-02-25 15:34] javizca opened #82 "Minor refinements in Spec Document 2"
In general there are too many SHOULD statements in the text. I think it would be good to change them to MUST in a number of cases:

For instance, "In case of multiplex experiments such as TMT, SILAC, and/or ITRAQ the corresponding _label_ SHOULD be added”. Replace SHOULD by MUST.

[2020-02-25 15:37] javizca opened #83 "Minor Refinements in Spec Document 3"
In the case of the "label free sample" ontology/CV term, I guess that NA would also be possible here? Or maybe we want to discourage this use, and make this a MUST?

[2020-02-25 16:53] javizca opened #84 "Suggestions about reporting of modifications"
As far as I can see, if we want the file to be computer readable, one of these two options MUST take place:
- "Database accession" for modifications is made Mandatory (at the moment is optional).

OR

If 'Database Accession' is still optional, then 'Monoisotopic mass' MUST be Mandatory (at the moment is optional).

This would cover cases like novel modifications with no name (but with a known delt

[2020-02-25 17:11] javizca opened #86 "Clarify the reporting of channels for multiplex experiments (e.g. TMT)"
From what I understand from the spec file, the way to report labels would be to use the column 'comment[label]'. But the only example there is a 'label free sample'.

- For TMT experiments the SDRF uses the PRIDE ontology terms under sample label. Here some examples of TMT channels:

TMT126, TMT127, TMT127C , TMT127N, TMT128 , TMT128C, TMT128N, TMT129, TMT129C, TMT129N, TMT130, TMT130C, TMT130N, T

[2020-02-25 17:18] javizca opened #88 "Meaning of 'Custom' modification and maybe support for different modification types"
What does this mean? I understand annotated can be different from Fixed/Variable but this is an extra property? Are all mutually exclusive? If not, ENUMS should be supported (several values separated by a comma)

[2020-02-28 13:59] mstephania opened #90 "Discordance in FTP URL in column 10 in sdrf file (comment[associated file uri])"
In annotation of PXD000612 project does not exist for the following samples:

pY_EXQ5_KiSh_SA_LabelFree_HeLa_Proteome_Control_rep4_pH11.raw
pY_EXQ5_KiSh_SA_LabelFree_HeLa_Proteome_Control_rep4_pH3.raw
pY_EXQ5_KiSh_SA_LabelFree_HeLa_Proteome_Control_rep4_pH4.raw
pY_EXQ5_KiSh_SA_LabelFree_HeLa_Proteome_Control_rep4_pH5.raw
pY_EXQ5_KiSh_SA_LabelFree_HeLa_Proteome_Control_rep4_pH6.raw
pY_EXQ5_KiSh_SA_

[2020-03-03 16:35] anjaf opened #92 "Comments on proposed proteomics SDRF spec"
@ypriverol I've had a look at the guidelines on the [experimental-design page](https://github.com/bigbio/proteomics-metadata-standard/tree/master/experimental-design) and here are my comments from the transcriptomics (ArrayExpress/Expression Atlas) usage point-of-view. I hope this makes sense and is helpful!

This is not quite right, at least from the MAGE-TAB definition there is no strict rule li

[2020-03-13 08:27] #92 closed

[2020-03-13 08:30] ypriverol commented on #83
It should be label free sample, we will discourage the use of NA in the future.

[2020-03-13 08:31] #83 closed

[2020-03-13 08:35] ypriverol commented on #84
We can make that clear now. I will add this sentence in the document.

This is not clear, for most of the modifications you have multiple sites, you really need to know which amino acids will be affected.

Done

[2020-03-13 08:41] ypriverol commented on #81
Can you review @qinchunyuan this issue.

[2020-03-13 08:42] ypriverol commented on #77
This has been included in recent documentation.

[2020-03-13 08:42] #77 closed

[2020-03-13 08:46] ypriverol commented on #90
Can you @qinchunyuan review this issue.

[2020-03-13 08:46] #90 closed

[2020-03-13 13:29] StSchulze commented on #84
Instead of using the monoisotopic mass as a mandatory addition to custom modifications, I would suggest requiring the chemical formula since that would be less ambiguous.

[2020-03-13 16:25] ypriverol commented on #84
Thanks @StSchulze, I actually see the benefit on both, then we can make both mandatory or at least one of then. Can you make a PR with the change

[2020-03-15 12:29] daichengxin commented on #90
Thanks,This issue has been modified

[2020-03-17 08:55] ypriverol commented on #88
This has been fixed.

[2020-03-17 08:55] #88 closed

[2020-03-17 08:56] ypriverol commented on #86
I have updated the PRIDE ontology, waiting to be index by OLS. I Will check today with the OLS team.

[2020-03-17 08:56] #84 closed

[2020-03-17 09:01] ypriverol commented on #81
https://github.com/bigbio/proteomics-metadata-standard/pull/97

[2020-03-17 12:17] ypriverol commented on #86
Indexing will be happening next week.

[2020-03-17 16:26] #20 closed

[2020-03-21 18:13] #86 closed

[2020-03-21 18:13] #82 closed

[2020-03-24 19:49] timosachsenberg commented on #65
is it correct that the last
comment[modification parameters]
only has the phospho modifications for the first 10 fractions? what about the higher fractions?

[2020-03-25 04:46] edeutsch opened #120 "Is oxidation really a fixed mod?"
In this file:
https://github.com/bigbio/proteomics-metadata-standard/blob/master/annotated-projects/PXD018117/sdrf.tsv

I am surprised that oxidation is a fixed mod. I think the submitters used a variable mod, and that is more customary. Is is really fixed?

[2020-03-25 10:48] ypriverol commented on #120
Fixed https://github.com/bigbio/proteomics-metadata-standard/blob/master/annotated-projects/PXD018117/sdrf.tsv

[2020-03-25 10:48] #120 closed

[2020-03-25 10:50] #81 closed

[2020-03-25 11:07] #17 closed

[2020-03-25 14:11] ypriverol opened #123 "PROject to be annotated PXD006675"
https://www.ebi.ac.uk/pride/archive/projects/PXD006675

MaxQB http://maxqb.biochem.mpg.de/mxdb/project/show/9375236640000

[2020-03-28 12:29] daichengxin commented on #123
#125

[2020-03-28 12:29] #123 closed

[2020-04-01 08:13] timosachsenberg opened #128 "PXD001819 small errors"
- [x] Header columns have different capitalization (e.g., "Source Name" instead of "source name")
- [ ] should be NE=Trypsin/P (not NM=trypsin/P)
https://github.com/bigbio/proteomics-metadata-standard/tree/master/experimental-design#42-enzyme
Note NM instead of NE is used in submissions

[2020-04-01 08:17] timosachsenberg commented on #128
The reason seems to be an error in the spec:
it says key=NE
but gives an example with NM

[2020-04-01 08:19] timosachsenberg commented on #128
looking at other examples I am now not sure if NM or NE is correct ;) anyway we should use only one of them

[2020-04-02 18:32] ypriverol opened #132 "Some errors to correct"
- [x] I think the source names are not correct in  https://github.com/bigbio/proteomics-metadata-standard/blob/master/annotated-projects/PXD002088/sdrf.tsv
       they differ between fractions

- [x] in  https://raw.githubusercontent.com/bigbio/proteomics-metadata-standard/master/annotated-projects/PXD004452/sdrf.tsv
       it also does not contain the enzyme

 - [x] https://raw.githubusercontent.

[2020-04-03 14:31] ypriverol opened #135 "Projects of Label-free to be annotated"

[2020-04-03 17:19] foellmelanie opened #141 "Data without fractions"
Hi all,

thanks for your efforts to generate better metadata annotations :)

In the Experiment Design description I am missing an explanation on how to handle unfractionated data. Comment [Fraction Identifier] is included in the templates, therefore I assume one should not delete the column. So far I have decided to enter "1" for every dataset that has no fractions. Would it be more clear to write

[2020-04-03 17:33] foellmelanie opened #142 "source vs individual vs replicate"
Hi,

it would be great to add more clarity and/or more examples about the relationship between:
source name, individual and replicates

I understand individual as individual (human) being. In most (or even all?) cases this will correspond to biological replicate. As long as there are no technical replicates it will also correspond to source name. Or how exactly is source defined? If one tissue is

[2020-04-03 17:44] foellmelanie commented on #48
Hi,
more examples for multiplexed experiments would be really helpful.
I also like the idea of adopting MSstats annotations. Ideally in a way that the user can directly recycle the MSstats annotation file to annotate the data for PRIDE upload.
Best,
Melanie

[2020-04-03 17:48] ypriverol commented on #48
@foellmelanie:

@timosachsenberg is working in an exporter from sdrf to MSstats (https://github.com/bigbio/sdrf-openms).

[2020-04-03 17:51] ypriverol commented on #141
Hi @foellmelanie :

Here some ideas.

The best practices should be put `1` and this is what we are encouraging. You took the right way. I will add that to the documentation.

[2020-04-03 17:58] timosachsenberg commented on #48
currently only lfq but multiplexed will come soonish

[2020-04-03 17:58] foellmelanie commented on #48
Hi,
this is fantastic for an easy re-analysis!
I see a lot of benefit to make the other way around (MSstats to sdrf) also as easy as possible. After spending a lot of time to create the MSstats annotation file it would be really frustrating if one has to do the same work all over again to generate the sdrf file for the submission of the raw data to a public repository...

[2020-04-03 18:04] ypriverol commented on #48
@foellmelanie :

Remember two things:

- SDRF: Is for easy annotation (manually or automatic) of experimental design.
- MSstats file: Mass spectrometry file format for statistical analysis.

Our idea now is to have an easy automatic translation from SDRF -> MStats file format, and guidelines on how to translate MSstats fields into SDRF fields.

Regards

[2020-04-03 18:08] ypriverol commented on #141
@foellmelanie can you review this PR: https://github.com/bigbio/proteomics-metadata-standard/pull/143 it contains the documentation about the fractions.

[2020-04-03 18:14] foellmelanie commented on #48
Sounds great. I just wanted to point out that the easier MSstats can be translated into sdrf the better :)

[2020-04-03 18:16] ypriverol commented on #142
This is a TMT dataset

https://github.com/bigbio/proteomics-metadata-standard/blob/master/annotated-projects/PXD017710/sdrf-tmt.tsv

[2020-04-03 18:26] #141 closed

[2020-04-07 14:51] timosachsenberg opened #146 "How to specify time in [age] column?"
e.g. years,  months, days etc.

[2020-04-07 17:45] ypriverol commented on #146
@timosachsenberg what do you want to define in age, we normally use `years` not months to days.

[2020-04-07 17:46] #142 closed

[2020-04-07 17:52] timosachsenberg commented on #146
in the dataset there are samples from few days old babys.
also few month

[2020-04-07 17:57] ypriverol commented on #146
I will try to look for an answer

[2020-04-08 02:41] daichengxin opened #149 "About specify time in [age] column"
In the process of annotating projects, I encountered an expression method of age in https://web.expasy.org/cgi-bin/cellosaurus/search?input=PubMed=22278370, which uses 40Y, 40Y5M, 40Y5M2D to express the age, this may help us specify time

[2020-04-08 02:42] daichengxin commented on #149
@ypriverol

[2020-04-08 09:23] ypriverol commented on #149
This is Great. @anjaf what do you think?

[2020-04-08 09:37] ypriverol commented on #146
@timosachsenberg, This is a proposal from @qinchunyuan https://github.com/bigbio/proteomics-metadata-standard/issues/149

[2020-04-08 13:03] timosachsenberg commented on #146
fine with me but maybe ask around a bit more.

[2020-04-08 16:16] foellmelanie commented on #146
Hi,

in my opinion it would be the best to separate values and units. For direct re-use of a dataset and statistical analysis only the value is of interest.

If value and unit are together it would require an unnecessary separation step.
The format  1Y1M1D would even be more work to first split values and units and then re-calculate  into a single unit to be able to do statistics.
Also in a few ca

[2020-04-08 17:12] ypriverol commented on #146
Like your comment @foellmelanie . The downside of the two-columns approach is that we need to carry the column of the units with the actual value for every analysis, in addition, order then plays a major role because you can have multiple units for other properties, then you need to relate the age and units after it.

[2020-04-08 17:20] foellmelanie commented on #146
@ypriverol I agree that two columns for values and units will get chaotic. Therefore I propose to specify the specific unit only in the header of the column:
characteristics[age in days]
The column itself then only contains numeric values that can be immediately used for statistics and the units could also account for very specific units e.g. embryonic days...

[2020-04-15 10:28] ypriverol opened #153 "Project to be annotated PXD014528"
https://www.ebi.ac.uk/pride/archive/projects/PXD014528

The sample groups and replicates can be found in the project files `proteomics_sample_description.xlsx`

[2020-04-15 13:14] jgriss commented on #41
Fixed in #158

@ypriverol I guess the issue can now be closed

[2020-04-15 13:18] #41 closed

[2020-04-17 15:48] lisavetasol opened #167 "Depletion/enrichemnt"
It seems you have already started the discussion about enrichment column in [#20 ](https://github.com/bigbio/proteomics-metadata-standard/issues/20), but I cannot see this in the code, so :
It would be nice to have some columns to specify the enrichment and depletion methods used. Since it could influence the search parameters and interpretation of the results.
For enrichment, it seems fairly easy

[2020-04-17 22:17] ypriverol commented on #167
I think is fine. Do you think we should add that at the `sample` or `assay datafile` level? I vote to add this add the `sample`.

- The name of the column will be `characteristics[enrichment process]`

The current values in OLS for that property are https://www.ebi.ac.uk/ols/ontologies/efo/terms?iri=http%3A%2F%2Fwww.ebi.ac.uk%2Fefo%2FEFO_0009090&viewMode=All&siblings=false

I like to add the follo

[2020-04-18 10:24] anjaf commented on #167
Hi, we generally tend to avoid using boolean values such as 'yes/no', '0/1' etc in our annotations. It's good to always be explicit: e.g. use "depletion/no depletion". (The rule of thumb here is "would the table still make sense if I take away the header?")
Although without knowing the subject area, I'm asking myself "what was depleted?". It might be too obvious for you add that explicitly but may

[2020-04-18 10:30] ypriverol commented on #167
I think this `sample process step`.

Definion:

`Abundant Protein Depletion for Mass Spectrometry. Depletion is used to reduce the complexity of biological samples such as serum, plasma, or biofluids, which contain high concentrations of albumin and immunoglobulins.`

[2020-04-18 13:59] lisavetasol opened #168 "MS2 analyzer type and fragmentation energy"
1. For some Orbitraps it's possible to measure fragments in the ion trap or the Orbitrap. It would be nice to add this information (probably next to the `comment [instrument]`). It may be a bit redundant since there is information about fragment tolerance, but an explicit "MS2 analyser type" column would be a more straightforward characterization of the experiment.
2. There seems to be no way of s

[2020-04-18 15:55] ypriverol commented on #168
- @lisavetasol in the ols, you can check under `mass analyzer` all the possible values [mass analyzer](https://www.ebi.ac.uk/ols/ontologies/ms/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FMS_1000451). Those that make sense? Some examples:

- time-of-flight
- quadrupole

In the ols two terms can be use to define energy:

- [collision energy](https://www.ebi.ac.uk/ols/ontologies/ms/terms?iri=h

[2020-04-19 11:42] lisavetasol commented on #168
@ypriverol
1. these `mass analyzer type` values look good, but the issue is that it should be possible to specify different mass analyzer types for MS1 and MS/MS spectra.
2.  I think collision energy is the right term, but there should be also [normalized collision energy ](https://www.ebi.ac.uk/ols/ontologies/ms/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FMS_1000138&viewMode=All&siblings=f

[2020-04-19 12:07] ypriverol commented on #168
- You would like two columns?:

- MS1 mass analyzer type
- MS2 mass analyzer type

- Lets use `comment[normalized collision energy]`

[2020-04-19 12:22] ypriverol commented on #168
@lisavetasol In the normalized collision energy what will be the structure of the value? A Number, a Number with a unit?

[2020-04-19 13:29] lisavetasol commented on #168
@ypriverol

Yep, sounds perfect.

But sometimes collision energy isn't normalized. I think instead of making two comments, it may be better to make one, `[collision energy]` with possible units "NCE" and "eV", so the first one would be for normalized collision energy and the second one for non-normalised one?
And then the structure will be a number and unit.

[2020-04-19 15:35] ypriverol commented on #168
New CV Terms in the PRIDE Ontology:

[code]
Created

[2020-04-21 11:04] ypriverol opened #174 "Talk for ISMB"
Hi all:

We have decided to send a Talk to ISMB to promote the file format and the current efforts of this community to annotate public proteomics data.

Please add your name and affiliation and review the current content.

https://docs.google.com/document/d/1sDBzgkvwCVcnmqpvpS6oTnUqHBSERZ_zSI1SrtPdHcM/edit?usp=sharing

We will need to send it by Friday 24/04.

Ping @mwalzer @mvaudel @lgatto @tris

[2020-04-21 17:30] ypriverol commented on #174
ping @RonBeavis

[2020-04-22 18:12] ypriverol opened #176 "Please label this experiment PXD002087"
The labels in this project are not annotated.

PXD002087

[2020-04-22 18:28] ypriverol opened #177 "Error in dataset annotations PXD008222"
This dataset PXD008222

- [ ] NO Tolerances annotated
- [ ] Technical replicates missing in some files
- [ ] No factor value

Please fix  these errors.

[2020-04-22 22:48] ypriverol opened #179 "New Dataset to annotate PXD012277"
https://www.ebi.ac.uk/pride/archive/projects/PXD012277

[2020-04-23 05:56] daichengxin commented on #177
#180 .Some raw files should have not  technich replicate and only biological replicate. I did not find them in related materials

[2020-04-23 08:59] ypriverol opened #181 "New dataset PXD000288"
Some information that can help the annotation.

- https://massive.ucsd.edu/ProteoSAFe/result.jsp?task=c8f8d31b313e44e682f7732a0b231726&view=display_metadata_results&file=f.RMSV000000298%2F2020-03-13_benpullman_c8f8d31b%2Fmetadata%2FexperimentalDesign_quant_annotation.csv

It is important to know that we don't need to annotate all the RAW files in the sdrf.

[2020-04-23 09:05] ypriverol commented on #177
Some files, in the submission, don't need to be added to the submission unless they clearly can be annotated. We know that authors add files to the submission that are not related to the original analysis or are part of a different analysis within the study.

[2020-04-23 09:06] ypriverol commented on #177
We should not have `no applicable` or `not available` in the `fraction identifier`, `label` or `technical replicate`

[2020-04-23 09:15] daichengxin commented on #177
Thanks a lot.I got it

[2020-04-23 09:27] ypriverol opened #183 "COVID AND SARS datasets"
These datasets SARS a COVID19:

https://www.ebi.ac.uk/pride/archive?keyword=coronavirus&sortDirection=DESC&page=0&pageSize=20

[2020-04-23 09:32] lisavetasol commented on #33
You have added many things about chromatography, but it seems the **fractionation type** is still missing. It could be the same types as for separation before MS (like RP, HILIC and so on), but with additional common fractionation types (high pH RP, SDS PAGE, off-gel electrophoresis, SCX). Also, maybe consider adding the information about concatenation method (with concatenation / without concaten

[2020-04-23 09:41] ypriverol commented on #33
This ontology term [separation](https://www.ebi.ac.uk/ols/ontologies/pride/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FPRIDE_0000022&viewMode=All&siblings=false)

Can be used to add different separation methods. We can add a new term called `fractionation type` and under that term all the methods we would like to add. Can you list @lisavetasol all the methods you would like to add. ?

[2020-04-23 12:52] lisavetasol commented on #33
I'm mostly familiar with the bottom-up approach and probably there are some other types for top-down/middle-down, so I suspect my list isn't complete.
1. SDS PAGE / Gel electrophoresis (the second one is more general)
2. Off-gel electrophoresis
3. HiRIEF / Isoelectric focusing (the second one is more general)
4. HILIC (ERLIC can be a separate type or just a sub-type)
5. Ion-exchange chromatography

[2020-04-23 13:56] ypriverol commented on #33
@mwalzer will be updating our ontology.

[2020-04-23 14:20] #128 closed

[2020-04-24 15:46] ypriverol commented on #33
This has been done. https://github.com/PRIDE-Utilities/pride-ontology/blob/master/pride_cv.obo#L3673 @lisavetasol check all the terms.

[2020-04-27 02:26] daichengxin commented on #179
#199

[2020-04-27 04:56] XuefeiZ commented on #153
#200

[2020-04-27 08:04] ypriverol commented on #179
Done

[2020-04-27 08:04] #179 closed

[2020-04-27 08:04] ypriverol commented on #153
DONE

[2020-04-27 08:04] #153 closed

[2020-04-27 09:38] magnuspalmblad opened #202 "Regular expression flavor?"
The PTM and enzyme specifications (sensibly) allow regexes. In the example, trypsin is annotated as
`(?⇐[KR])(?!P)`
What flavor or regex format is this, with the ⇐? I suppose the regexes should be consistent.

[2020-04-28 09:32] ypriverol commented on #202
@magnuspalmblad we have decided for now to annotate as much as possible the projects using ontology terms for both, the PTMS (UNIMOD) or Enzyme (PSI-MS). We don't have yet any project with fancy Enzymes or PTMs to be annotated.

Feel free to modify the example and the specification to reflect your comment.

[2020-04-28 09:56] lisavetasol commented on #33
Looks great!
1. I think this one
`id: PRIDE:0000556
name: Ion-exchange chromatography `
is redundant since you already specified SCX, SCA, WSX and WSA. Propose to delete it or add a relation `is_a:  PRIDE:0000556!Ion-exchange chromatography`.
2. I wouldn't use LC for `id: PRIDE:0000562
name: Normal-phase liquid chromatography (LC)` because LC usually means just liquid chromatography (not a normal-

[2020-04-28 11:26] ypriverol commented on #33
@lisavetasol we have solved all the issues in the last PR.

[2020-04-28 13:31] lisavetasol commented on #33
I think these ones
`id: PRIDE:0000562
name: Normal-phase liquid chromatography (NP)`
`id: PRIDE:0000563
name: Reversed-phase chromatography (RP)`
aren't ion-exchange ones. They are
`is_a: PRIDE:0000565 name: High-performance liquid chromatography` if you wish or just
`is_a: PRIDE:0000550 ! Fractionation method` and `is_a: PRIDE:0000551 ! Separation method`

[2020-04-28 14:01] ypriverol commented on #33
Done thanks for the feedback @lisavetasol

[2020-04-28 14:52] ypriverol commented on #167
@lisavetasol nice example about phosphoproteomics enrichment https://github.com/bigbio/proteomics-metadata-standard/pull/205

[2020-04-30 03:04] XuefeiZ commented on #45
#206

[2020-04-30 06:49] daichengxin commented on #44
#207

[2020-04-30 08:12] #174 closed

[2020-04-30 08:38] ypriverol commented on #33
@mwalzer @lisavetasol the new terms have been updated in PRIDE https://www.ebi.ac.uk/ols/ontologies/pride . Please can you have a look?

[2020-04-30 10:31] lisavetasol commented on #33
Cool, I think it's enough terms :)
Just maybe the relations, between them, are a little bit incorrect. I sketched the way I think they are related. Not sure if that's a better way, but I highlighted in red the stuff I think may be confusing in the current version.
![Pride ontology fractionation methods](https://user-images.githubusercontent.com/41292192/80700106-6e3b3180-8add-11ea-90ed-b73e6ddc438

[2020-04-30 10:33] ypriverol commented on #33
@lisavetasol I will include these changes. @lisavetasol when do you think you will be able to push the first datasets?

[2020-05-01 20:54] mobiusklein commented on #202
That character looks suspiciously like `<=`, which in many regex engines a look-behind assertion, meaning that it will only match the next position if the previous position(s) satisfy that pattern, which makes this a valid definition for Trypsin. Maybe someone pasted from a ligatured source?

[2020-05-04 14:38] levitsky opened #211 "How to annotate "anomalous" samples?"
We are annotating samples with terms from [organism part](http://www.ebi.ac.uk/efo/EFO_0000635) subtree. I am not sure what to do when samples are things like cyst fluid. Cysts are not normally part of the human anatomy and thus I can't find a relevant ontology term. Specific example is pancreatic cyst fluid. What would be the right way to annotate the sample?

Additionally, there is one "normal"

[2020-05-04 14:56] anjaf commented on #211
Generally, for fluids there is a term called "organism substance" that fits better than "organism part". So you can use this instead of organism part.
For cysts and tumours and other non-normal body parts, many can be found in the ontologies nevertheless. However, if you can't find a suitable term, a possible workaround is specifying the main organ as organism part (here "eye"?) and then use "samp

[2020-05-04 15:08] lisavetasol commented on #33
@ypriverol hopefully this week :)

[2020-05-05 17:35] ypriverol opened #213 "Experiment wrong"
https://github.com/bigbio/proteomics-metadata-standard/blob/f183deb3bb224852e6b8e35fcb9a70cfb7757244/annotated-projects/PXD004683/sdrf.tsv

This experiment is wrong. In TMT experiment each sample should be an independent channel from these labels (https://www.ebi.ac.uk/ols/ontologies/pride/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FPRIDE_0000515&viewMode=All&siblings=false)

[2020-05-05 21:26] ypriverol commented on #167
@lisavetasol we probably need to list all the methods for phospho-enrichment in details like:

- IMAC
- TiO2
-?
Any other methods we would like to add.? @mvaudel @lisavetasol

[2020-05-06 07:57] javizca commented on #167
Going a bit towards the top of this thread, there will be the need to create a generic term for "Enrichment for a given PTM," or probably a better solution will be to create generic terms for enrichment for particular PTMs (in addition to phosphorylation and glycosylation). Some additional examples are methylation, Ubiquitination or SUMOylation, among others.

There are also other chemical enrichm

[2020-05-06 08:07] ypriverol commented on #167
The current proposal contains a column name called characteristics[enrichment process]. Inside that terms the possible values are now:

- enrichment of phosphorylated Protein
- enrichment of glycosylated Protein

If we want to create more terms, we can do it, we just need to ask to EFO.

In case we want to compare Modified-proteins expression vs non-modified for the samples that are not enriched w

[2020-05-06 09:29] lisavetasol commented on #167
Not really a big expert in enrichments, but at least there are a few types of IMAC - iron, titanium, nickel IMAC. Also SIMAC is a subclass of IMAC methods. There are lots of different antibodies for phospho enrichment as well. Check out Figure 2 in [this article ](https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3418503/).

[2020-05-06 10:39] XuefeiZ commented on #213
#216

[2020-05-07 11:49] lisavetasol opened #218 "The mandatory fields for "Human: All tissue-based experiments""
I have a question about [mandatory fields, especially for human tissues](https://github.com/bigbio/proteomics-metadata-standard/tree/master/experimental-design#sdrf-templates). I have looked at a few annotated projects and seems that in some _(maybe even lots)_ of them the fields _sex, age, development stage and/or ethic group_ are 'not available' and fields such as _modifications, enzyme, instrum

[2020-05-07 11:55] lisavetasol commented on #168
Is there a way to specify fragmentation energy in an annotation? Should I just use `comment[collision energy]` and fill it with e.g. '28 NCE' / '20 eV' ?

[2020-05-07 13:50] javizca commented on #218
It is very difficult to find the right balance here. There is an increasing number of biological groups that use proteomics as a tool (e.g. making use of proteomics core facilities). In these cases, it is not uncommon that the biologists (usually the people that do the submissions) don't have much knowledge about the mass spec related information.

[2020-05-07 15:03] ypriverol commented on #218
@lisavetasol

1- most of these annotations have been done post-submission, then is difficult to find the tissue, ethic group by our annotations. But in the future I think this information will be more available during the submission, the biologist will be able to annotate that.

2- I think making fields mandatory will be a matter of how during the submission of the data we see how this data is ava

[2020-05-07 16:32] lisavetasol commented on #218
Absolutely true, people may not know it, but it's much easier for them to check how it was done, than for people who want to analyse this data and have to open raw files and check what the instrument was and so on. And do "open search" to find out what modifications should be used.

Not sure, but it seems that If there is no information about how mass spec was done, there is no profit of such anno

[2020-05-07 16:46] levitsky commented on #218
My two cents as a personal perspective (TLDR: I agree with Lisa here):

I think the value and the purpose of PRIDE itself, or any other repository for proteomics data, is to enable re-processing of data. In shotgun proteomics, for almost any such processing it is essential to know the basic experimental details (instrument type, enzyme etc., as well as annotation of technical replicates and such).

[2020-05-07 16:52] ypriverol commented on #218
Your proposal is to make the following fields:

- enzyme
- instrument

required?

I agree in principal with it, and we request the instrument already during the submission process. If everyone agrees, We can make them *required*.

[2020-05-07 17:15] levitsky commented on #218
To try and sum up the proposal:

- enzyme - make _required_
- instrument - make _required_ (may be automated at submission?)
- MS2 mass analyzer - make _required_ (may be automated at submission?)
- technical replicate - make _required_ OR something like "required if applicable", should be the same logic as for fraction identifier (which is now required)
- alkylation agent - add field (probably ne

[2020-05-08 11:33] #168 closed

[2020-05-08 16:24] levitsky opened #220 "Ontology for [ethnic group] and [developmental stage]"
Which ontology should I use to look up possible values for `[ethnic group]`? EFO has the [term](http://www.ebi.ac.uk/efo/EFO_0001799) as factor but no descendant nodes for values.

The most representative list I found on OLS is on [ERO](https://www.ebi.ac.uk/ols/ontologies/ero/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FERO_0001972), but that is not a supported ontology.

Similar situation

[2020-05-08 16:34] levitsky commented on #218
Side note on the current mandatory columns: of **48** annotations currently in master,

- only **11** contain `ethnic group`
- only **5** contain `cell type`

(To compare, the non-mandatory "instrument" is present in all annotations.)

This raises two questions:
1. Does it make sense to keep them formally mandatory if they are barely used?
2. Should the presence of mandatory columns be checked on

[2020-05-09 14:07] ypriverol commented on #220
@anjaf

1- The ethnic group ontology term looks wrong in EFO, as pointed out by @levitsky this Cv term  [ancestry category](https://www.ebi.ac.uk/ols/ontologies/efo/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FHANCESTRO_0004&viewMode=All&siblings=false) looks more properly.

2- @levitsky what are the other options for development stage?  We can added them to the list of supported ontologies.

[2020-05-09 14:22] ypriverol commented on #218
@levitsky remember that all the examples we have here are post-submission annotations, but the current specification is also trying to define how future submissions should be performed to PX archives. the ethnic group is actually quite a common request in genomics and transcriptomics experiments for population studies. We hope during the submission process this data will be more available.

As I m

[2020-05-09 14:42] levitsky commented on #220
Ancestry category looks good.

For developmental stage in humans, OLS lists a whole [ontology](https://www.ebi.ac.uk/ols/ontologies/hsapdv), although it has some weirdly specific items; there is also [age group](https://www.ebi.ac.uk/ols/ontologies/ncit/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FNCIT_C20587&viewMode=All&siblings=false) in NCI Thesaurus OBO.

[2020-05-10 15:37] levitsky opened #222 "The majority of annotations fail validation against appropriate organism template"
I tried going through the annotated datasets with [sdrf-pipelines](https://github.com/bigbio/sdrf-pipelines) validator. On some of them, it breaks with a traceback, and on others it shows error messages if run with an appropriate organism template (mostly human).

I think the following needs to be done:

- [x] <strike>Implement error codes for easier validation in scripts (0 for no errors, non-zer

[2020-05-10 15:43] levitsky commented on #218
Thank you for this comment, and it does answer my first question. But there is also the second one: as a consumer of these annotations, should I not rely on the "mandatory" columns being always present in the file? Or is this (going to be) a violation of the standard to not include them? Do we need to add them to the annotations that omit them?

I started #222 with my suggestions on this.

OK. Sho

[2020-05-10 17:22] ypriverol commented on #222
@levitsky I have quite a lot on my plate now. If you can do PRs will be great. Thanks a lot.

[2020-05-10 17:51] ypriverol commented on #218
**Mandatory fields should be always present as you point it out**. If we found some datasets without the columns it should be reported. One thing is not clear in the specification and in the present discussions is if we will accept or not the value `not available` for those columns. This is what is happening now for most of the cases, we have the column but not value because our curators can't fin

[2020-05-10 19:15] levitsky commented on #218
My thoughts:

 - we should allow "not available" in mandatory columns for post-submission annotations (don't have another choice, really);
- some of the required fields may still be missing on submission. These will be sample characteristics, but mass spec details can be safely required at all times on submission. Based on this reasoning, some mandatory fields can be allowed to be "not available"

[2020-05-10 19:24] ypriverol commented on #218
👍

Agree. The only column we have doubts now is `MS2 mass analyzer`.?

👍

[2020-05-11 07:30] anjaf commented on #220
Yes, "ethnic group" has been replaced with "ancestry category" in EFO.
For developmental stages, if EFO doesn't have a suitable term, it's recommended to use a species specific ontology, e.g. PO (plant structure developmental stage, PO_0009012 ), Zebrafish developmental stages ontology (ZFS), FlyBase Developmental Ontology (FBdv), etc.
We don't have a specific recommendation for a good human devel

[2020-05-11 07:58] javizca commented on #218
I think MS2 mass analyser is "too technical" information to become mandatory for the reasons mentioned before. The instrument name/model (which is mandatory) should be enough in most cases to understand the mass analyser/s that it contains.
Second, usually there are more than one Mass Analyser and their annotation will be inconsistent. This was the case in the old PRIDE XML format. Rather than ann

[2020-05-11 08:39] ypriverol commented on #220
- [ ] I will replace the `ethnic group` with the `ancestry category`.
- [ ] I recommend we use for `developmental stage` multiple ontologies:
       PO (plant structure developmental stage, PO_0009012)
       Zebrafish developmental stages ontology (ZFS)
       FlyBase Developmental Ontology (FBdv)
- For human, I saw that most of the time they added the text of months, years, etc. I think we can r

[2020-05-11 09:14] lisavetasol opened #223 "Mixed samples"
How should a mixed sample be reflected in the annotation? For example, there is a separate analysis of different individuals and all pooled together or just a commercial plasma sample from lots of different people mixed together. Is it okay to use "not applicable" in `comment[individual]` and "mixed_0", "mixed_1"  (or "commercial_plasma_0" in the second case) and so on in the `source name` column?

[2020-05-11 11:49] lisavetasol commented on #218
@javizca

The reason for `MS2 mass analyzer` is exactly that the instrument name/model often isn't enough to understand where fragment ions were measured. For example, in lots of Orbitrap instruments, there is a possibility to measure fragments in the Orbitrap analyzer as well as in the Ion trap analyzer. And that's quite important to know for a proper mass tolerance in the search parameters (roug

[2020-05-11 11:53] levitsky commented on #220
To clarify your suggestion, in terms of mandatory columns **for humans**:

- remove `ethnic group`, add `ancestry category`;
- remove `developmental stage` from _mandatory_ or _recommended_, rely on `age` instead, using the format proposed in #146 or #149.

If that's what you are suggesting, I agree. Also I'm in favor of age format suggested in #149. As mentioned in #146 though, for embryonic samp

[2020-05-11 14:17] daichengxin commented on #44
Done all #224

[2020-05-11 18:21] levitsky opened #225 "Use of [phenotype] and possible alternatives"
I see quite a range of uses for `[phenotype]` in the annotations that do not really seem to fit the definition. The [definition](http://www.ebi.ac.uk/efo/EFO_0000651) is:

The columns is used to both characterize the disease (stage, metastases etc.) and treatments. Basically the existing annotations almost never use the `[phenotype]` column to describe actual phenotype.

It has been briefly discus

[2020-05-11 20:14] ypriverol commented on #225
I think is this case, the columns were accidentally switched. I will fixed it.

@anjaf can you help us with this example.

[2020-05-12 08:17] anjaf commented on #225
Regarding "compound" not being in EFO, we actually map it to the term "chemical entity" (CHEBI_24431). EFO had done a few rounds of changes in the past, mostly dropping terms in favour of replacing them with terms imported from other ontologies. But to keep it consistent with previous curation, we usually kept referring to the category with the original term. Another example is "cell line", which

[2020-05-12 09:43] ypriverol opened #228 "Errors in annotations - current submissions"
@qinchunyuan we have found multiple errors in the annotations of the current submissions, please check:

{row: 60, column: "characteristics[disease]"}: "osteosarcoma " contains trailing whitespace
{row: 61, column: "characteristics[disease]"}: "osteosarcoma " contains trailing whitespace
{row: 62, column: "characteristics[disease]"}: "osteosarcoma " contains trailing whitespace
{row: 63, column: "

[2020-05-12 09:46] levitsky commented on #228
It should be noted that some of the required columns are probably going to be made non-mandatory, pending discussion. It doesn't make sense to add "developmental stage" and "ethnicity" now, as the next version of the validator will have a different set of requirements.

[2020-05-12 10:04] ypriverol commented on #228
I will delete all the projects reports related to `developmental stage` and `ethnicity`

[2020-05-13 09:04] ypriverol commented on #223
@anjaf can you help us with this. I have the same problem with a TMT experiment before where a channel is used for a pool of all samples (https://github.com/bigbio/proteomics-metadata-standard/blob/master/annotated-projects/PXD017710/sdrf-tmt.tsv#L209). This is really common because you merge samples into a simple RAW to boost the "signal" you are looking for.

This is a really important issue bec

[2020-05-13 11:26] ypriverol opened #232 "Update the CI/CD to validate sdrf files on PRs"
We need to update the CI/CD in order to be able to validate PRs that contains sdrf changes or additions.

A prototype of the CI/CD has been built in CircleCI but is not working properly. Related issue: https://github.com/bigbio/proteomics-metadata-standard/issues/222

[2020-05-13 12:42] levitsky commented on #232
I have a working Github Actions workflow already. I'm not submitting a PR yet because it doesn't make much sense to run it on every commit and trigger an email to all 17 watchers.

[2020-05-13 13:09] ypriverol commented on #232
@levitsky i think is extremely important to have the validation in place. People can put the silence in the messages.

[2020-05-13 13:26] ypriverol commented on #232
@levitsky can we do some testing on it. I can't see the Github Actions workflow activated yet.

[2020-05-13 13:28] levitsky commented on #232
It should show up after it is first triggered. And that would be by changing anything in the annotated-projects. Do you want me to do a PR just for testing?

I tested the workflow on my fork and locally, it worked for pushes. I didn't try PRs though.

[2020-05-13 13:29] ypriverol commented on #232
Yes, please

[2020-05-13 13:34] levitsky commented on #232
New workflow was triggered by #234 and failed expectedly.
I'm not sure why CircleCI is still there, though.

[2020-05-13 13:35] ypriverol commented on #232
I just stopped the CircleCI part. Hope will work now.

[2020-05-13 13:38] #232 closed

[2020-05-13 13:53] ypriverol commented on #222
@levitsky I think its time to decide the mandatory columns for Human samples. I see that we have ethnicity given errors in most of the datasets. Probably, we need to make two decisions:

- make ethnicity optional.

Make the pipeline pass but give the recommendation to the user that ethnicity is RECOMMENDED.

[2020-05-13 14:07] ypriverol commented on #222
@levitsky I think the default validation should run against the default template https://github.com/bigbio/proteomics-metadata-standard/blob/master/templates/sdrf-default.tsv I think is better because is really the minimum metadata. What do you think?

[2020-05-13 14:08] levitsky commented on #222
I agree that it is a good time to decide but I would suggest keeping the topics separated.
Adding a warning in the validator when RECOMMENDED columns are missing is a good idea and perhaps this should be tracked separately. Would be great if `pandas schema` supported warnings, or if not then perhaps a different kind of validation errors can be defined and tracked separately.

Discussion of ethnici

[2020-05-13 14:11] ypriverol commented on #222
Yes, my point here is that we should validate against the SDRF default template, not the Human template. We can put another GitHub Actions in the future that detect if the organism is Human, then check the Human template. But failing against Human while is not a human dataset should be the case. I will go for issue #218.

[2020-05-13 14:16] levitsky commented on #222
I think that the validation should check for existence of all columns that are defined as mandatory, first for any annotation, the the organism, and including the mandatory mass spec columns. That's what mandatory means.

The other question is how we want to use these template files to demonstrate the minimal requirements. My idea was to add a second validation script specifically for templates, w

[2020-05-13 14:20] ypriverol commented on #220
The following PR and commit (https://github.com/bigbio/proteomics-metadata-standard/pull/214/commits/b5cdcbc121fce607fa4e78ea5927e84f2ee38d67) has changed the `ethnic group` -> `ancestry category`

[2020-05-13 14:28] ypriverol commented on #220
The `development stage` is now optional. Check the PR commit https://github.com/bigbio/proteomics-metadata-standard/pull/214/commits/e66a7b983b1e383140de33c806183f34aa277d97

[2020-05-13 14:49] ypriverol commented on #149
Age encoding has been now added to the specification, commit (https://github.com/bigbio/proteomics-metadata-standard/pull/214/commits/27862799b2c9051a859714c3fbff4085ff2c3e76)

[2020-05-13 15:09] ypriverol commented on #218
@levitsky @lisavetasol While I fully understand your point. I really believe that making this filed mandatory for submissions will be a lot of work for submitters. I will vote to make this field optional for now and of course, all your annotated projects will probably have them and I will make sure that our annotators also add them. But, we should wait to make this mandatory for all the submission

[2020-05-13 15:55] #46 closed

[2020-05-13 15:56] ypriverol commented on #45
The project already annotated.

[2020-05-13 15:56] #45 closed

[2020-05-13 15:56] #44 closed

[2020-05-13 15:59] ypriverol commented on #211
@levitsky can we close this issue.

[2020-05-13 16:03] levitsky commented on #211
I'm not sure we're not going to see similar issues while submitting our annotations. I tried to make it relatively general, while the suggestion from @anjaf is more specific. For this reason I reserved the thought of maybe updating it with more questions as we go.
Feel free to close it for now if you prefer to.

[2020-05-13 16:45] #149 closed

[2020-05-13 16:45] #218 closed

[2020-05-13 16:45] #220 closed

[2020-05-13 16:49] levitsky commented on #218
I do of course accept this decision, although my thinking is a bit different.

I agree that it's important to keep in mind the load on the submitter, but the standard should reflect what is the most important for reanalysis. There are ways to make it easier for the submitter other than just not requiring it.

Anyway, I hope that those ways will be implemented and most of the data end up annotated

[2020-05-13 16:51] ypriverol commented on #218
Thanks. Please @levitsky can you add to the specification a paragraph about MS2 analyzer? that reflect why is important, it can be a section after the instrument information.

[2020-05-13 16:53] ypriverol commented on #222
I got it now, I need to review with the other curators @qinchunyuan all the submissions that are failing. This is high-priority.

[2020-05-13 16:56] ypriverol commented on #228
I'm 100% sure that it would be extremely difficult doing post-annotation to find the ethnicity. I think we should make it optional. what do you think @levitsky

[2020-05-13 17:00] levitsky commented on #222
I updated the list of tasks. I can probably update the requirements in the validator and work on organism template selection logic in the script. Also I can later add validation for template files to solve the last task, as I suggested above.

[2020-05-13 17:04] levitsky commented on #228
Like I said in [before](https://github.com/bigbio/proteomics-metadata-standard/issues/218#issuecomment-626375216), I think we should just allow required fields to be "not available", at least in some cases like post-submission annotation. In my opinion that will be necessary in any case.

As for ethnicity (ancestry category), it will probably often be unknown at submission, too. I don't have a str

[2020-05-13 17:06] ypriverol commented on #228
@mvaudel do you think we should ask for the ancestry category `ethnicity` for every submission?

[2020-05-14 12:52] daichengxin opened #244 "Missing TMT131N, TMT131C, TMT132N TMT132C term"

[2020-05-14 12:59] #228 closed

[2020-05-14 17:23] lisavetasol commented on #167
@ypriverol @anjaf One more question about depletion.
There is a sample which is a bound fraction (not a depleted one as usual), so is it okay to specify in `characteristics[depletion]` - **depletion bound fraction** instead of just **depletion** as it is for a normal depleted fraction?  Would be also nice to add such term under [depletion ontology term](https://www.ebi.ac.uk/ols/ontologies/pride/t

[2020-05-14 17:50] ypriverol commented on #167
@lisavetasol you can do a PR in the PRIDE ontology and I will review it. Please feel free. Also, it will make things faster in terms of progression.

[2020-05-15 08:13] ypriverol opened #246 "Annotate some DIA and MRM examples"
It would be great to annotate some DIA and MRM experiments.

[2020-05-15 08:27] javizca commented on #246
@davco6 and Ananth have annotated this week 3 experiments. They have different sizes and are human/mouse, so I think they would be perfectly fine to adapt these to the new format. These are PXD005044, PXD005661 and PXD006382. As far as I can see, they can be annotated in the same way as a label free dataset

[2020-05-15 08:28] ypriverol commented on #246
The biology part is the same @javizca but the acquisition part needs to be discussed because some details there are crucial.

[2020-05-15 08:31] javizca commented on #246
Yes, I agree. I forgot to mention that they are DIA experiments.
The acquisition part needs to be discussed, but all the relevant information at that level has been gathered for these three datasets, so they are a good starting point. It took some time to find three suitable datasets

[2020-05-15 16:03] anjaf commented on #223
I think there are a few different options, depending on what works for you.
Based on the example here, I would try to avoid "not applicable" and go for "mixed x and y" to be most descriptive.
Alternatively, you could create one row per sample that goes in the mix. Then you can annotate them individually in their separate row. And then each sample of the mix is linked with the same assay. Obviously

[2020-05-15 18:28] levitsky commented on #223
The second solution makes sense given that a row in SDRF represents a relation between a sample and an assay. However, for a small dataset with 15 files where the sample is pooled from 20 subjects, we end up with 300 rows. It's good for automated processing, though, and duplication of data for the same "assay"/raw file would be on the same scale as with labelled experiments.

[2020-05-15 18:41] levitsky commented on #213
Should this be closed?

[2020-05-15 18:43] #213 closed

[2020-05-18 13:51] levitsky commented on #223
@ypriverol what do you think? Would be nice to have a consensus on this.

[2020-05-19 18:14] ypriverol opened #255 "New datasets in Label-free and TMT examples to be curated"
- [x] PXD017201 (TMT)
- [ ] PXD016837 (Label-free)
- [x] PXD016002 (TMT)
- [ ] PXD015957 (Label-free)(inmunopeptidomics)
- [x] PXD011799 (TMT)
- [ ] PXD013923 (SILAC)
- [x] PXD013765 (Label-free)
- [ ] PXD006003 (SILAC)
- [ ] PXD007662 (Label-free)
- [ ] PXD009630 (Label-free)
- [x] PXD001725 (Label-free)
- [ ] PXD004624 (Label-free)
- [ ] PXD002255
- [x] PXD004452 PMID:28601559
- [x] PXD003668 PM

[2020-05-20 10:23] ypriverol opened #257 "Allow sdrf annotations with gz files"
@levitsky we can start having sdrf.txt that contains sdrf.txt.gz because they are too big for GitHub in decompress mode. I think we should allow in the validator to validate sdrf.txt.gz

[2020-05-20 10:52] levitsky commented on #257
What do you mean exactly? Github file size limit is [100 MB per file](https://help.github.com/en/github/managing-large-files/conditions-for-large-files), right now the largest annotation file is 1.5 MB and 2.2k lines. So, we can have up to ~150k rows per table without compression.
Do you think it is not enough?

[2020-05-20 10:54] ypriverol commented on #257
We have an internal discussion that in single-cell experiments, you can have a line per cell (right now in transcriptomics), we have seen already files of 120 MB. This is a feature for the future.

[2020-05-20 12:49] levitsky commented on #257
OK, I checked it and `pandas` actually infers compression automatically. The validator already works fine with gzipped files. The only change needed is in the validation script, because now it only matches `*.tsv` files. However, if I relax the glob, it also starts matching `.wrong` files and validation fails. Seeing as there are only a couple of those left to fix, I don't want to think too much a

[2020-05-21 14:52] levitsky commented on #257
Looks like nothing else needs to be done here?

[2020-05-21 14:54] #257 closed

[2020-05-21 18:30] levitsky commented on #167
By the way, it is `characteristics[depletion]`, right? That's what I see in annotations, but the README has `comment[depletion]`.

[2020-05-22 10:59] ypriverol opened #262 "Feedback needed"
Hi @levitsky @pcm32 @foellmelanie @daichengxin @lgatto @anjaf :

We have been developing a simple web app to help the users to autocomplete Ontology terms and PTMs for the SDRF columns (https://annotator.multiomics.info/). The idea is that a user load an existing dataset and SDRF in their file system and then perform the autocomplete.

It would be great If you tested and gave us feedback about the

[2020-05-22 13:36] levitsky commented on #262
I was able to load an SDRF file into the system (looks like that's the only thing it can do for now).

It shows a warning about empty lines at the end of the file, although there are none.

Editing and auto-completion seem to work. Perhaps it could be useful to highlight values that are not found in the corresponding ontology. I was thinking about adding this in the Python validator as well.

Subm

[2020-05-22 21:37] ypriverol commented on #255
- https://www.ebi.ac.uk/pride/archive/projects/PXD002255

[2020-05-22 21:58] ypriverol opened #266 "Annotation of the spectral ProteomeTools datasets"
http://www.proteometools.org/index.php?id=52

- [x] PXD004732
- [ ] PXD006832
- [ ] PXD009449
- [x] PXD010595
- [ ] PXD005336

[2020-05-23 00:17] ypriverol opened #267 "biological replicate should be a comment or a characteristics"
@levitsky @anjaf @daichengxin :

While technical replicate is annotated always as a comment, the biological replicate is annotated sometimes as comment other as characteristics. See example here https://github.com/bigbio/proteomics-metadata-standard/blob/master/annotated-projects/PXD000288/sdrf.tsv

I think it should be a characteristic rather than a comment. Please provide feedback.

@levitsky wh

[2020-05-23 01:44] daichengxin commented on #267
I prefer that technical replicate is a [comment] , while biological replicate is a [characteristic] . There are several reasons:
1. Technical replicate refers to the number of times the mass spectrometer is run repeatedly on the same sample, more on the MS run level
2. Individually, biological replicate is more like replication at the sample level . Right ??

[2020-05-23 06:48] anjaf commented on #267
Yes, I agree. Everything regarding the sample (including biological replicate) should be characteristics, while attributes regarding the assay are comments.

[2020-05-23 10:25] ypriverol commented on #181
@qinchunyuan I found some more annotations here that probably would be good to add to this project annotations. https://www.ebi.ac.uk/gxa/experiments/E-PROT-10/Experiment%20Design

[2020-05-23 11:28] #202 closed

[2020-05-23 13:22] levitsky commented on #267
I agree. Should be `characteristics[biological replicate]`.

What do you want to change in the validator about this? It doesn't know about biological replicates.

[2020-05-23 13:36] ypriverol commented on #267
I think is the validator we should check that `biological replicate` is not provided as a comment.

[2020-05-23 18:38] ypriverol opened #269 "Mouse phospho-proteome"
https://phosphomouse.hms.harvard.edu/data/Phosphorylation/

[2020-05-24 17:03] #181 closed

[2020-05-24 17:03] #246 closed

[2020-05-24 23:01] ypriverol commented on #269
Already annotated https://github.com/bigbio/proteomics-metadata-standard/tree/master/annotated-projects/PMID21183079

[2020-05-24 23:01] #269 closed

[2020-05-24 23:02] #177 closed

[2020-05-24 23:03] #176 closed

[2020-05-24 23:25] ypriverol opened #271 "Hela label-free datasets"
- [x] PXD000396
- [ ] PXD000589
- [x] PXD000759
- [ ] PXD000895
- [ ] PXD000999
- [ ] PXD001061
- [ ] PXD001249
- [ ] PXD001258
- [ ] PXD001333
- [ ] PXD001374
- [ ] PXD001381
- [ ] PXD001426
- [ ] PXD001441
- [ ] PXD001660
- [ ] PXD002252
- [ ] PXD002277
- [x] PXD002395
- [ ] PXD002815
- [ ] PXD002880
- [ ] PXD002987
- [x] PXD003209
- [ ] PXD003370
- [ ] PXD003530
- [ ] PXD003560
- [ ] PXD003917

[2020-05-24 23:52] #135 closed

[2020-05-24 23:59] levitsky opened #272 "Material type and Description columns"
I see `Material Type` in many annotations but it is not specified anywhere in the standard description. Is it allowed, and if yes, why is it needed?

Material type sounds like a sample characteristic. If there is not a suitable term in EFO, perhaps one can be added? Alternatively, the use of `Material Type` needs to be described in the specification.

Upd: Another column that I see is "description

[2020-05-25 00:00] ypriverol commented on #272
Agree, I think this is a legacy property from Transcriptomics experiments. @anjaf can you let us know why is important?

[2020-05-25 00:10] levitsky commented on #272
Right now we have `organism part` or `cell type` which kind of alternate, which is indeed not ideal. So I see why `Material Type` would help, e.g. if it is `cell` then you can look for `cell type` but if it is `tissue` then you can look for `organism part`, etc.

However, `organism part` and `cell type` are mandatory for all annotations anyway, so either one can be checked without any precondition

[2020-05-25 00:48] levitsky commented on #272
@ypriverol I expanded the issue to include `description` as well, another column used but not described.

[2020-05-25 00:50] ypriverol commented on #272
I will take a look. @levitsky do you have more annotated projects coming soon? Would be nice to check these list https://github.com/bigbio/proteomics-metadata-standard/issues/271

[2020-05-25 00:53] levitsky commented on #272
We're working through our list of annotated projects. What I can say is that we focused on live human samples, not cell lines, so probably no intersections with that list.

[2020-05-25 11:32] daichengxin commented on #255
PXD017201 ,PXD016002,PXD011799,PXD013765,PXD001725, PXD005946,PXD005942,PXD005940,PXD005355 have also been annotated

[2020-05-25 12:02] ypriverol opened #275 "Hackathon for annotation of proteomics experiments with EuBic"
@levitsky @foellmelanie @qinchunyuan @enriquea :

We are planning to run a workshop with EuBic for annotation of Proteomics datasets after the ASMS. Here a doodle poll to check availability https://doodle.com/poll/h6349immriu866wu The idea is the following:

Hackathon proposal:

- 20 minutes introduction is Slack about the format and specification.
- 15 minutes of general questions about the file

[2020-05-25 16:05] anjaf commented on #272
Yes, "Material Type" and "Description" come from the original MAGE-TAB specifications, and relate to the Source Name column.
So Material Type basically means "source material type": what material was used as input at the start of the experiment? The controlled vocabulary is "whole organism", "organism part", "cell", "DNA", "RNA". DNA and RNA are obviously not applicable for proteomics experiments,

[2020-05-25 18:02] ypriverol commented on #272
@levitsky I suggest that in order to be compatible with transcriptomics we allow the following column names:

- Material Type
- Description

As additional properties, we don't validate anything from them, it is up to the user to provide them.

[2020-05-25 18:06] #244 closed

[2020-05-25 18:06] #65 closed

[2020-05-25 18:21] levitsky commented on #272
I don't have the context knowledge to opine on the necessity of keeping compatibility.
Abstractly speaking, allowing "description" will probably tempt annotation authors to fill it with information that belongs in another column, or multiple columns, reducing the utility of annotation. To avoid this, any use of `description` should be actively discouraged, if allowed.

[2020-05-25 19:32] ypriverol commented on #272
Let's remove it Description.

[2020-05-26 11:02] ypriverol opened #277 "Request Project Annotation [PXD010981]"
- Project Accession: [PXD010981]
- URL Project: [https://www.ebi.ac.uk/pride/archive/projects/PXD010981]
- PubMed Accession: [27990823]

[2020-05-26 19:09] levitsky commented on #272
If it is decided, we can close this and merge https://github.com/bigbio/sdrf-pipelines/pull/36.

[2020-05-27 15:15] #272 closed

[2020-05-27 23:03] ypriverol opened #284 "Request Project Annotation [PXD002255]"
- Project Accession: [PXD002255]
- URL Project: [https://www.ebi.ac.uk/pride/archive/projects/PXD002255]
- PubMed Accession: [ https://pubs.acs.org/doi/10.1021/acs.jproteome.5b00481]

[2020-05-28 11:04] ypriverol opened #287 "Request Project Annotation [PXD005336]"
- Project Accession: [PXD005336]
- URL Project: [ebi.ac.uk/pride/archive/projects/PXD005336]
- PubMed Accession: [29191878]

[2020-05-28 15:01] levitsky commented on #287
We've got this one, you can assign it to me.

[2020-05-28 19:52] #48 closed

[2020-05-30 13:01] daichengxin opened #293 "How to encode search parameters in the SDRF"
In the PMID: 25043054 experiment, three softwares were used to identify the peptides, and the parameter settings for each were different, as follows:

How should I reasonably express the above parameters?

[2020-05-30 13:16] ypriverol commented on #293
The main difference here is the precursor mass tolerance and fragment mass tolerance. This is one of the challenges of adding in the file the analysis information, this can be a lot of combinations that make it difficult to capture all of them.

This is also the main difference why we are capturing now MS2 Analyzer as suggested by the @levitsky team.

I recommend capturing here only one parameter,

[2020-05-30 13:43] levitsky commented on #293
Yes, I should say this is why we pushed against using search parameters in annotation and in favor of material details like MS2 analyzer. SDRF is supposed to describe "the relationship between the sample and the data file". Instrument is a part of that relationship, and search parameters simply are not.

If we were annotating the relationship from sample to mzid files or pepXML files, then yes, th

[2020-05-30 17:03] ypriverol commented on #293
Agreed and we should evaluate all the columns in the data file and make mandatory only the one that are needed, so far (https://github.com/bigbio/proteomics-metadata-standard/blob/master/experimental-design/README.adoc#3-from-samples-to-assay-msrun):

- label
- fraction
- data file

Candidates to be formally mandatory:

- Instrument
- Ms2 analyzer

I would prefer to do not to go in this direction

[2020-05-30 17:44] levitsky commented on #293
SDRF validator still considers tolerances as mandatory, I will make a PR to change that.

I agree this is not a trivial change and needs to be thoroughly discussed, but I'm not sure what you mean about huge files and massive amount of annotations. I think most datasets don't include search results at all or include one search result per raw file?

I agree, it makes sense to go that way if we reall

[2020-06-02 03:49] daichengxin opened #298 "Questions about special enrichment strategies"
In the experiment of PXD002255 project, in order to enrich Low molecular-weight (LMW) proteins from serum, some special enrichment strategies were adopted, including
1. Differential solubilization
2. in-house Gel-filter system
3. Glycine SDS-PAGE
4. ProteoMiner

Ubiquitome enrichment was also carried out, and mRNA binding proteins were enriched by ChIRP-MS.

![image](https://user-images.githubuser

[2020-06-03 05:55] mvaudel commented on #275
To save time, it would be great if you could send information in advance:
1- Program
2- Introduction slides
3- Link to Github tutorials
4- Example of annotated project(s)

and some todos:
1- Make sure you have a working Github account
2- Pick a project in pride

anything else can be done in advance to maximize the throughput of the time we spend together?

[2020-06-03 06:10] mvaudel opened #299 "Graphical summary"
Given an annotation file, would it be possible to generate a graphical overview e.g. in the form of a tree? This would help QCing the annotation and give a simple overview when browsing a data set.
![Untitled](https://user-images.githubusercontent.com/11632644/83601772-889b7b80-a571-11ea-82d9-fb5f167e62bd.png)

[2020-06-03 08:46] ypriverol commented on #299
@mvaudel good idea. I have not to clue how we can do that in the current python API. @levitsky do you have experience with python DAG generation. ?

[2020-06-03 12:08] levitsky commented on #299
Not really, but there are probably tools for that. The algorithm is what seems to be challenging.

We have `factor value` (sometimes) that we can use for top-level grouping, what would be next steps? Looks like we need a universal hierarchy of characteristics and comments the define the grouping order.

[2020-06-03 13:49] ypriverol commented on #275
https://github.com/bigbio/proteomics-metadata-standard/tree/master/additional-documentation/Hackathon-062020

[2020-06-04 06:29] mvaudel commented on #299
Intuitively the order of the split would be: (1) question asked (2) conditions tested (3) patients/samples (4) analytical partitioning. If we cannot answer this, the user will have a hard time doing it :-)

[2020-06-04 12:53] levitsky commented on #299
I think the user may have their own idea about the grouping of files or samples. We can try guessing the structure, but I'm not sure if there is such thing as _the_ graphical representation of annotation.

[2020-06-04 12:55] ypriverol commented on #299
It is not a bad idea to generate a Dag from the SDRF. It will be the combinations of columns and values:

- First level: factor value
- Second Level: Biological replicate
- Thierd level: Techinical replicates
- Last level: Fractions

[2020-06-04 14:12] daichengxin commented on #299
Regarding First level: factor value, I guess if the study variable is cell line, and there are 62 cell lines, then the first-level node will have 62 branches, right? @ypriverol

[2020-06-04 20:59] ypriverol commented on #299
yes

[2020-06-09 12:03] deeptijk opened #304 "Request Project Annotation [ PXD018594 ]"
- Project Accession: [PXD018594 ]
- URL Project: [ https://www.ebi.ac.uk/pride/archive/projects/PXD018594]
- PubMed Accession: [ Not yet ]

[2020-06-09 12:03] deeptijk commented on #304
Can I annotate something not published yet

[2020-06-09 12:04] enryH opened #305 "Request Project Annotation [ PXD011839]"
- Project Accession: [ PXD011839]
- URL Project: [https://www.ebi.ac.uk/pride/archive/projects/PXD011839 ]
- PubMed Accession: [30824564 ]

[2020-06-09 13:01] jgriss opened #306 "Request Project Annotation [ PXD006003 ]"
- Project Accession: [ PXD006003 ]
- URL Project: [ https://www.ebi.ac.uk/pride/archive/projects/PXD006003 ]
- PubMed Accession: [ https://pubmed.ncbi.nlm.nih.gov/31495571 ]

[2020-06-09 13:04] ypriverol opened #307 "Request Project Annotation [PXD013868]"
- Project Accession: [PXD013868]
- URL Project: [https://www.ebi.ac.uk/pride/archive/projects/PXD013868]
- PubMed Accession: [PMID: 32188942]

[2020-06-09 13:06] david-bouyssie opened #308 "Request Project Annotation [PXD009815]"
- Project Accession: [PXD009815]
- URL Project: [ https://www.ebi.ac.uk/pride/archive/projects/PXD009815 ]
- PubMed Accession: [32096818]

[2020-06-09 13:07] MeenaChoi opened #309 "Request Project Annotation [PXD003539]"
- Project Accession: [PXD003539]
- URL Project: [https://www.ebi.ac.uk/pride/archive/projects/PXD003539]
- PubMed Accession: [31733513]

[2020-06-09 13:07] veitveit opened #310 "Request Project Annotation [PXD005300]"
- Project Accession: [ PXD005300]
- URL Project: [ https://www.ebi.ac.uk/pride/archive/projects/PXD005300]
- PubMed Accession: [28934504 ]

[2020-06-09 13:10] StSchulze opened #311 "Request Project Annotation [PXD006877]"
- Project Accession: [PXD006877]
- URL Project: [https://www.ebi.ac.uk/pride/archive/projects/PXD006877]
- PubMed Accession: [29194950]

[2020-06-09 13:12] ncarrut opened #312 "Request Project Annotation [PXD000312]"
- Project Accession: [PXD000312]
- URL Project: [https://www.ebi.ac.uk/pride/archive/projects/PXD000312]
- PubMed Accession: [24224561]

[2020-06-09 13:13] clarissadgom opened #313 "Request Project Annotation [ PXD017540 ]"
- Project Accession: [PXD017540]
- URL Project: [https://www.ebi.ac.uk/pride/archive/projects/PXD017540]
- PubMed Accession: [PMID: 32365127]

[2020-06-09 13:16] julianu opened #314 "Request Project Annotation [PXD012986]"
- Project Accession: [PXD012986]
- URL Project: [https://www.ebi.ac.uk/pride/archive/projects/PXD012986]
- PubMed Accession: [31699904]

[2020-06-09 13:17] foellmelanie opened #315 "Request Project Annotation [PXD000527]"
- Project Accession: [ PXD000527]
- URL Project: [ https://www.ebi.ac.uk/pride/archive/projects/PXD000527]
- PubMed Accession: [24824475]
-  iTRAQ example

[2020-06-09 13:18] mlocardpaulet opened #316 "Request Project Annotation [PXD003048]"
- Project Accession: [PXD003048]
- URL Project: [https://www.ebi.ac.uk/pride/archive/projects/PXD003048]
- PubMed Accession: [26861043]

[2020-06-09 13:18] mvaudel opened #317 "Request Project Annotation [PXD008841]"
- Project Accession: [PXD008841]
- URL Project: [https://repository.jpostdb.org/entry/JPST000496]
- PubMed Accession: [30962452]

[2020-06-09 13:21] tivdnbos opened #318 "Request Project Annotation [PXD017035]"
- Project Accession: [PXD017035]
- URL Project: [https://www.ebi.ac.uk/pride/archive/projects/PXD017035]
- PubMed Accession: [31816881]

[2020-06-09 13:31] orenogithub opened #320 "Request Project Annotation [PXD005174]"
- Project Accession: [PXD005174]
- URL Project: [http://proteomecentral.proteomexchange.org/PXD005174]
- PubMed Accession: [ ]

[2020-06-09 13:57] levitsky opened #322 "Repeated label column"
In [PXD017710](https://github.com/bigbio/proteomics-metadata-standard/blob/a141d6bc225e3df8d35e36f0035307f0c7fadf1d/annotated-projects/PXD017710/sdrf-silac.tsv), we have two `label` columns with different values in each row. What does that mean?

Seems to me that only one label per row makes sense.

[2020-06-09 14:38] StSchulze commented on #322
It also has TMT6plex in the modifications columns, which doesn't show up in the label columns

[2020-06-09 14:54] foellmelanie commented on #322
Further questions on the dataset: the TMT6-plex modification column has at it's end the Carbamidomethyl modifications (;TA=C;AC=UNIMOD:4;MT=fixed)? I never worked with TMT and iTRAQ but I thought they also label lysines?

NT=TMT6plex;PP=Any N-term;AC=UNIMOD:737;MT=fixed;TA=C;AC=UNIMOD:4;MT=fixed

[2020-06-09 15:00] levitsky commented on #322
This very much looks like two columns stuck together. You can't have repeated keys like that. It should be TMT in one column and Carbamidomethyl in the other.

[2020-06-09 15:24] mlocardpaulet opened #324 "Request Project Annotation [PXD001558]"
- Project Accession: [PXD001558]
- URL Project: [https://www.ebi.ac.uk/pride/archive/projects/PXD001558]
- PubMed Accession: [26861043]

[2020-06-09 20:06] clarissadgom commented on #313
Training annotation from hackathon; source name and assay name could not be determined
[PXD017540.xlsx](https://github.com/bigbio/proteomics-metadata-standard/files/4754567/PXD017540.xlsx)

[2020-06-09 20:19] StSchulze opened #327 "Standardization of comment[label]"
There are some problem with the comment[label] column, especially for multiplexed experiments. Some of them are already mentioned in issues (e.g #322) but it might make sense to have a more general discussion about this.

1. In general, multiple labels can be part of the same MS run, but a clear connection between the sample and the label need to be made. Therefore, for each label within one MS ru

[2020-06-09 20:24] levitsky opened #328 "Annotation of spike-in samples"
There is a currently open PR #321, which annotates a sample spiked with a single protein (as far as I understand) analogous to already annotated [PXD001819](https://github.com/bigbio/proteomics-metadata-standard/blob/d8e5761086d6cb94757dbea3ded3718609e8f9c9/annotated-projects/PXD001819/sdrf.tsv).

Both annotations use `characteristics[protein_coding_gene]` to designate the spiked protein and  `cha

[2020-06-09 20:44] StSchulze commented on #293
In the context of making search parameters optional and having the SDRF as a sample <-> data file relationship format, I would like to revisit the PTMs column, i.e. comments[modification parameters].
Currently, this is used to describe the modifications included as search parameters and should therefore be optional. However, in that case, essential information about e.g. cysteine alkylation would

[2020-06-09 20:51] StSchulze commented on #132
In PXD011799 the label column indicates that TMT16plex was used but in the modification parameters TMT6plex is given.

In general, is there any plan to implement a system that tries to guarantee the accuracy of the information provided in the SDRF files? E.g. it could be required to have every SDRF file checked by at least two members of the community before accepting it?

[2020-06-09 22:53] levitsky opened #330 "Validation scripts don't detect cell lines"
The validation scripts automatically select the template for validation based on the organisms listed. For this reason, "cell line" annotations are not detected as such, see e.g. #329.

The script needs to be fixed to correctly detect cell lines. (I can't self-assign the issue but I'll fix the script myself.)

[2020-06-10 09:25] lisavetasol opened #331 "Sample preparation"
There is a piece of information about sample prep which is still missing in the annotations. As @StSchulze [mentioned ](https://github.com/bigbio/proteomics-metadata-standard/issues/293#issuecomment-641559247) before the alkylation agent should be specified separately. If we do that, the reduction agent should be there as well. Since there are not so many of them, it shouldn't be a problem to add

[2020-06-10 09:29] anjaf commented on #331
Regarding tissue storage there is "specimen with known storage state" in EFO (https://www.ebi.ac.uk/ols/ontologies/efo/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FOBI_0001472&viewMode=All&siblings=false) that we use for this purpose. It has controlled vocabulary as child terms, e.g. "frozen specimen", "fresh specimen", etc.

[2020-06-11 00:19] ypriverol commented on #322
I'm checking in my machine this error and I can't see the two columns merged

[2020-06-11 08:58] ypriverol commented on #322
@levitsky @foellmelanie I have fixed the column in the last PR https://github.com/bigbio/proteomics-metadata-standard/pull/336.

The second issue is related to How to handle or represent turnover SILAC experiments. In this experiment, the same sample is a label with heavy and light SILAC labels at different times you try to model the amount of protein between both time points.

[2020-06-11 09:07] ypriverol commented on #330
This issue has been fixed.

[2020-06-11 09:09] levitsky commented on #322
If I understand correctly what you're saying, "the same sample at different times" should be annotated as two different samples, each with its own label, right?

[2020-06-11 09:11] levitsky commented on #330
It has? I didn't do anything about it and the validation script hasn't changed in 12 days. I think the issue has been worked around in pending submissions, but not fixed.

[2020-06-11 11:14] ypriverol commented on #327
Hi @StSchulze:

This is now the case. I think the problem we have with the SILAC example is that this is a turnover experiment them the sample is labeled with two different SILAC heavy and light in two different endpoints. We probably need to create samples for that and I'm trying to fix the annotations.

Totally agreed with this. The intention of the `label` column is not to describe the label, w

[2020-06-11 14:14] StSchulze commented on #327
Just to clarify, my proposal would be to describe properties of the labeling sufficiently **within** the comments[label] column, not having multiple columns, because I don't see the benefit of a column that just described that some labeling happens without clearly defining how that labeling looks like.

Sounds good.

Here would be my suggestions for SILAC label terms:
* SILAC light
  - SILAC light

[2020-06-12 07:43] ypriverol commented on #327
@StSchulze I like the approach. I check the first label `12C(6)14N(4)` in unimod and I can't find the formula http://www.unimod.org/modifications_list.php?orderby=dex%5Fcode%5Fname I just want to make sure that the formula is correct

[2020-06-12 09:31] ypriverol commented on #327
@StSchulze PR added here https://github.com/PRIDE-Utilities/pride-ontology/pull/44

[2020-06-12 10:38] ypriverol commented on #328
@levitsky The spiked sample is a complex problem:

When one spike protein is something we can represent, even handle the changes you proposed. A more generic approach can be more challenging.

This is where the old discussion about the REF to a protocol file makes a lot of sense or more link to external files data structure plays better. Which is what I will vote for. This is complex because most

[2020-06-12 12:18] StSchulze commented on #327
It's not a unimod since it is the light label, i.e. the same monoisotopic mass as the original amino acid.
I took the amico acid compositions from here: https://www.thermofisher.com/us/en/home/life-science/protein-biology/protein-mass-spectrometry-analysis/protein-quantitation-mass-spectrometry/silac-metabolic-labeling-systems.html?gclid=EAIaIQobChMIjq20lvP56QIVGEmGCh2OYQrmEAAYAiAAEgJW0PD_BwE&s_kw

[2020-06-13 12:47] levitsky commented on #328
I like the idea with accession/sequence and concentration in key-value pairs in a single column.

Perhaps we could generalize it also to add mixtures? E.g.
`characteristics[spiked component]` -> `CT={protein|peptide|mixture|other}; ...` where CT is component type, and then have keys for each type, like:
AC for proteins, PS for peptides, name and vendor for commercial kits? vendor could also have a

[2020-06-15 09:53] lisavetasol commented on #331
@ypriverol, @StSchulze, @levitsky
Now there should be alkylation and reduction reagents in the Pride ontology. So I propose to add the following columns in sdrf :
1. `comment [reduction reagent] `
2. `comment [alkylation reagent]`
I think ideally both of them should be mandatory, or at least alkylation reagent. The value 'not available' in the column(s) should fail the annotation check (probably n

[2020-06-16 18:49] StSchulze commented on #331
The new Pride ontology terms (reduction/alkylation reagent) are great.
I agree that 'in-solution/in-gel digest' describes rather the whole process of sample prep, so instead of 'enzymatic digestion' it might make more sense to put it into a (new?) category 'sample preparation method' that could encompass all the different sample prep workflows like FASP, S-trap, SP3, in-gel, in-solution, etc.

[2020-06-17 10:21] ypriverol opened #339 "PRoject wrong annotated PTMs"
https://github.com/bigbio/proteomics-metadata-standard/blob/master/annotated-projects/PXD000312/sdrf.tsv

This project the PTMs are wrongly annotated because the user used excel and the AC increase 2, 3, ... Please correct.

[2020-06-17 11:04] #330 closed

[2020-06-17 11:48] daichengxin commented on #339
#341

[2020-06-17 13:07] #339 closed

[2020-06-17 21:10] #307 closed

[2020-06-18 10:16] ypriverol commented on #327
All Silac has been included in the new specification.

[2020-06-18 10:16] #327 closed

[2020-06-18 10:57] #33 closed

[2020-06-18 10:59] #42 closed

[2020-06-18 10:59] #66 closed

[2020-06-18 11:00] #146 closed

[2020-06-18 11:01] #222 closed

[2020-06-18 14:23] levitsky opened #344 "Normal / uninfected / healthy samples"
I suggest standardizing the way of marking samples from organisms that are not affected by disease. This is rather important because `characteristics[disease]` is a required column.

EFO has a term for this called `uninfected`, but it is not under `disease`, rather `disposition` (ancestor of `disease`). So the approach I used was:

characteristics[disposition] | characteristics[disease]
---|---
un

[2020-06-18 14:33] anjaf commented on #344
In Expression Atlas, we use `normal`, mapped to term PATO_0000461 that is in EFO: https://www.ebi.ac.uk/ols/ontologies/efo/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FPATO_0000461

[2020-06-19 14:02] mlocardpaulet opened #346 "Request Project Annotation [PXD004436]"
- Project Accession: [PXD004436]
- URL Project: [https://www.ebi.ac.uk/pride/archive/projects/PXD004436]
- PubMed Accession: [28373295]

[2020-06-23 09:22] jgriss opened #352 "Annotation / Visualisation of samples that are measured multiple times"
## Goal

Several proteomics experiments measure samples multiple times. This can quickly lead to "bloated" annotation files were certain rows are repeated hundreds of times.

In order to create some kind of visualisation tool we need to capture all / most experimental designs that contain repeated measurements of the same samples.

## Experimental designs

  * Super SILAC: one common reference cha

[2020-06-23 09:27] jgriss commented on #352
First question: Replicates + Common reference

At the moment, this would look like this

[code]

How would this be visualised?

[2020-06-23 10:20] veitveit commented on #352
Something like:
[code]
The user can then expand each sample to see files and replicates

This should be applicable to other scenarios, too, particularly when the merged items have identical metadata. E.g. raw files containing multiplexed samples have the same search parameters.

[2020-06-23 18:42] samesense opened #354 "Needs consistent column name capitalization"
https://www.dropbox.com/s/xh1ehqsk42skb6w/Screenshot%202020-06-23%2014.38.16.png

https://github.com/bigbio/proteomics-metadata-standard/blob/master/templates/sdrf-human.tsv
vs
https://github.com/bigbio/proteomics-metadata-standard/blob/master/annotated-projects/PXD000548/sdrf.tsv

[2020-06-28 09:29] ypriverol commented on #354
@samesense the current specification does not force annotators to use Upper or Lower case. SDRF is case insensitive meaning `Characteristics` === `characteristics`. https://github.com/bigbio/proteomics-metadata-standard/blob/master/sample-metadata/README.adoc#21-sdrf-values

[2020-06-28 09:32] ypriverol commented on #344
@levitsky should we add this to the specification? Looks like @anjaf suggestion is to use `normal`.

[2020-06-28 09:34] ypriverol commented on #331
@lisavetasol @StSchulze can we close this issue?

[2020-06-28 09:40] #275 closed

[2020-06-28 09:41] #267 closed

[2020-06-28 09:43] ypriverol commented on #293
We have solved this issue. Please open if you need more clarification.

[2020-06-28 09:43] #293 closed

[2020-06-28 09:46] ypriverol commented on #266
@patroklossam I have seen two projects annotated. We have other 3 projects that would be great to have them annotated. Let me know if you can find some time to perform the annotations.

[2020-06-28 09:49] ypriverol commented on #352
This is related to this issue. Pooled samples, where samples are merged all together in a channel. @levitsky can you point me to the issue where we discuss that?

[2020-06-28 10:00] levitsky commented on #352
Yes, that would be #223.

[2020-06-28 10:31] patroklossam commented on #266
@ypriverol Yup I am a bit busy these days but I will annotate them. Just FYI, PXD005336 is not a ProteomeTools dataset. I will also annotate this though

[2020-06-28 10:32] ypriverol commented on #223
the current file format @anjaf @levitsky @jgriss is quite de-normalized if you consider:

- technical replicates
- fractions

As @levitsky mentioned for 15 samples, we can easily end with over 300 rows. The principal problem I see is that the pooled samples are not relevant biologically but more technical.

I suggest the following approach, for all pooled samples, use a `Material` -> `NT=Pooled Sa

[2020-06-28 11:07] ypriverol commented on #328
Looks nice. @levitsky Can you do a PR to the specification with this proposal?

[2020-06-28 11:27] levitsky commented on #266
I've been meaning to annotate 5336 but haven't quite got around to it yet. I did some preliminary work to extract the annotations from ProteomicsDB (couldn't find a proper way so ended up scraping the site).
But, if @patroklossam has all this info in hand then I'll be happy to collaborate on some draft annotation from you.

[2020-06-28 11:47] patroklossam commented on #266
@levitsky All the relevant information is indeed in ProteomicsDB but not accessible via the API... I am working currently on an API that will export any project in SDRF format but was waiting till the format is stable :) (and we need to map ProteomicsDB projects to PXD identifiers)
Once I have something ready (especially for this one) I will create a PR so that we can check and discuss anything th

[2020-06-28 11:51] ypriverol commented on #167
Can we close this issue? @levitsky @lisavetasol

[2020-06-28 12:22] mlocardpaulet commented on #328
I think `characteristics[concentration of]` is OK If we also have the `characteristics[injected volume]` (or similar, not sure about the ontology here). And this should be accompanied with the injection volumes of all the other samples.
Alternatively, we could have `characteristics[quantity]` (which should be the quantity injected - molar or mass). I don't think that the concentration alone is eno

[2020-06-28 12:26] levitsky commented on #223
How would the other rows look? Those where the samples are actually annotated.

Each row captures the relation between one sample and one raw file. It seems like you imply that the sample is annotated in a row for an MS run that corresponds to the analysis of this individual sample, and then we "link" to this row from a pooled sample row. But the sample can only ever be present in a pool. So, for

[2020-06-28 12:34] StSchulze commented on #331
What is the solution for the sample preparation method? Adding vocabulary as part of PRIDE "enzymatic digestions" or adding to e.g. MS:1000831? Or ignoring different sample prep methods?

[2020-06-28 22:58] levitsky commented on #328
Shouldn't it be enough to have either quantity for all components (main sample and added compounds) or concentration for all components?

[2020-06-29 07:38] jgriss commented on #223
Hi @ypriverol ,

I agree with @levitsky. Although I like the idea to explicitly annotate pooled samples, you'd still have to annotate the actual samples somewhere. And this breaks the concept of one raw file - one sample relationship in the format.

There are several cases where the files will explode quite a bite due to multiplexed or pooled samples (see #352). But there we were rather thinking o

[2020-06-29 08:35] mlocardpaulet commented on #328
Well, theoretically it would be enough to analyse the data of one data set, but not to integrate it with others. And since the main goal is to be able to re-analyse several PRIDE submissions together we need to have the quantity and not the concentration. So either mass, molarity, or concentration + injection volumes of all samples.

[2020-06-29 11:07] levitsky commented on #328
Does this argument apply to spike-in samples only, or are you saying we need quantity or mass for all annotations? Looks like the point about integration between datasets is not directly tied to spike-in experiments, or am I missing something?

[2020-06-29 11:11] lisavetasol commented on #331
I agree with @StSchulze  - the preparation method makes more sense as a separate term under [Protocol step description additional parameter](https://www.ebi.ac.uk/ols/ontologies/pride/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FPRIDE_0000001&viewMode=All&siblings=false) in the PRIDE ontology.
@ypriverol I think before closing the issue the specified above columns should be added in sdfr (Re

[2020-06-29 11:26] ypriverol commented on #223
My idea is the following:

Sample 1 ... Homo Sapiens... condition 1... msrun 1... TMT131... file.raw
Sample 2 ... Homo Sapiens... condition 2... msrun 1...  TMT131C... file.raw

These are the sample as we know in multiplex experiments, multiple samples can be in the same `file.raw`. This representation is what we have now. The problem is that sometimes we have in TMT (I guess SILAC is the same) an

[2020-06-29 11:27] mlocardpaulet commented on #328
In what other context would you have this information? Purified proteins analysed alone? I have no idea of other use-cases, but it could very well be an issue.
The important thing is that whatever the context (spiked-in samples or else), you can only directly compare concentrations if you are sure that the injected volume is the same in the runs you compare. If you know the injection volume you ar

[2020-06-29 11:32] jgriss commented on #223
@ypriverol Now I understand. I think that can be a useful addition of the format.

Essentially, allowing "pooled" samples to reference pre-existing `source name`s

[2020-06-29 11:36] ypriverol commented on #223
Yes that is the point.

[2020-06-29 11:41] ypriverol commented on #331
Can you add the content to the specification @lisavetasol o can merge the PR. I will suggest to do not make it mandatory becuase if the number of mandatory columns start to growth the annotation process can be delay. We can recommended and throw a warning in the validator @levitsky

[2020-06-29 12:50] levitsky commented on #328
Okay, after some off-mike consultation I think I get your point :)

So it looks like for the main sample we want its mass (not sure how molar amount would apply to complex samples), and for the spiked compound we need injected quantity or injected mass. It doesn't seem to make sense to annotate concentration and volume separately if their only use would be to multiply them, I think it's reasonable

[2020-06-29 12:53] #354 closed

[2020-06-29 12:53] levitsky commented on #223
This does look useful but how do we limit the scope of this suggestion?
Do we just say that we can always refer to any source names that is present in another row in the file?
Let's say I have two pools in the dataset and for the first one I have to list all the samples, but for the second one five out of ten samples are already annotated as parts of the first pool? How do I annotate the second po

[2020-06-29 13:00] ypriverol commented on #223
This is up to the submitter. What we are trying to guaranty that if someone has a pooled or mixed in their sample, they have a way to annotate it without needs to annotate everything again. How they mix the samples is really in the submitters and annotator's side.

[2020-06-29 14:16] levitsky commented on #223
So for a pooled sample you can refer to any `source name` within the file, or you can repeat rows as before, in all cases?

Also, I can't help but wonder, what exactly is the problem with larger files and repeated data? SDRF functions as an [associative table](https://en.wikipedia.org/wiki/Associative_entity) for a many-to-many relationship between samples and files and as such inherently contains

[2020-06-29 14:24] ypriverol commented on #223
LEt have the input of more people @jgriss @anjaf @mlocardpaulet @veitveit @mvaudel

[2020-06-29 15:15] StSchulze commented on #223
I basically fully agree with @levitsky , a clear and consistent annotation that can be automatically processed appears more important to me than some arguably minor inconvenience for the annotator. That's why we had decided to have multiple rows for files that are multiplexed (#327).

Generally I would also vote against the introduction of a new column, since this problem should be solved within e

[2020-06-29 15:51] levitsky commented on #223
Thank you @StSchulze, to quickly follow up with your comment:

1. By breaking down possible use cases, you are reinforcing my question about limiting the scope of this suggestion. If we only use it in case 3, it's one thing; using it freely for any repeated sample is different. I think in the specific case you and @ypriverol describe it could be applied without breaking other logic.

2. I'm not su

[2020-06-29 20:42] StSchulze commented on #223
True, I had overlooked the issue of associating specific samples/source names with the pooled sample. Taking that into account I would agree that the dedicated column as a separate characteristic sounds like the best idea. And I agree that it should be limited to cases like 3.

[2020-06-29 20:55] mlocardpaulet commented on #328
Great.
Regarding mass Vs amount, I am afraid this will depend on the type of experiment and/or the user. And I don't think we have a good reason for preferring one over the other. Maybe other people would have a stronger opinion?
I would personally offer both options (if this is possible). In any case, if the sdrf is well filled up, we should find somewhere the compound (peptide sequence or protei

[2020-06-30 08:01] javizca commented on #306
I think it would make sense to see whether Expression Atlas has some example already, and follow the same way. I guess it needs to be clear that it is a xenograph somewhere. Species should be both human and mouse I guess?

And in my view it makes sense to use the clinical metadata from the patient.

[2020-06-30 08:23] jgriss commented on #306
@StSchulze @levitsky @ypriverol Continuing our discussion about #223 how should we annotate the source of the PDX.

In this project, the authors analysed both the primary tumour as well as the PDX. Keeping track of this relationship might be interesting. Is this something we want to support?

[2020-06-30 08:42] mlocardpaulet opened #359 "Request Project Annotation [PXD017602]"
- Project Accession: [PXD017602]
- URL Project: [https://www.ebi.ac.uk/pride/archive/projects/PXD017602]
- PubMed Accession: [32554804]

[2020-06-30 08:51] lisavetasol commented on #167
@ypriverol  We could, although there is a new issue #298 which closely related to this one. So maybe it's worth to discuss some enrichment methods?

[2020-06-30 09:18] mlocardpaulet commented on #306
The field `characteristics[individual]` should allow you to match the PDX to the primary tumour, don't you think?

[2020-06-30 09:23] jgriss commented on #306
@mlocardpaulet So you suggest to put the `sample name` in `characteristics[individual]` for PDX samples and "none" in the primary patient samples?

[2020-06-30 10:38] mlocardpaulet commented on #306
No, sorry I wasn't clear. I think `characteristics[individual]` should be the same for the PDX and primary tumour. That is what allows their matching.
For "PDX" Vs "primary tumour" you need an other field. That would be the case for any of these types of experiment. I guess you could also have "primary tumour" and "lung metastasis" in an other scenario... Unfortunately, I am not really familiar wi

[2020-06-30 13:44] anjaf commented on #306
I agree that the source should be annotated as the donor organism (i.e. the cancer patient). The xenograft is usually only the means to growth the specimen. Unless the researchers are particularly interested in the host's immune response or similar (then the mouse would be source organism).
We would annotate the fact that it's a PDX, under the term `Characteristics[xenograft]` or as `Characteristi

[2020-06-30 19:04] levitsky commented on #328
I agree with providing both options for mass and quantity.
If there are no objections, we only need to agree on format now.

First suggestion: since we need a separate column for quantity of sample (mass), we could use the same column for amount of spiked compound. For this to work we will need to come up with a good term for PRIDE ontology that would capture it.
Something like `characteristics[co

[2020-07-01 07:00] mlocardpaulet opened #361 "Request Project Annotation [PXD014525]"
- Project Accession: [PXD014525]
- URL Project: [https://www.ebi.ac.uk/pride/archive/projects/PXD014525]
- PubMed Accession: [32034161]

[2020-07-01 10:42] jgriss commented on #306
@anjaf Thanks a lot for this information! I will follow this approach.

@ypriverol I suggest that we explicitly mention this in the specification. Should I add this and create a PR?

[2020-07-01 10:53] ypriverol commented on #306
Yes @jgriss. In that way, we have more people contributing to the Specification. 👍

[2020-07-01 13:33] mlocardpaulet commented on #328
This looks good. So if I understood well, we would have two columns:
- `characteristics[spiked component]` as you described earlier (CT= component type, then some identifiers)
- `characteristics[compound quantity]` with the quantity (in mass or molarity) injected.
What happens if there are several spiked-in proteins or peptides with different quantities? Do we add as many pairs of columns as neede

[2020-07-01 13:41] levitsky commented on #328
Ah, thank you for this question. Looks like I was confused when I was suggesting this. I think it's definitely better to include the injected quantity for the spiked compound as a key-value pair within `spiked component` (or `spiked compound`), and have an extra (required, in case of spikes) column for main sample quantity (injected mass or some term like that). This way, adding another spiked com

[2020-07-02 18:39] levitsky commented on #328
@ypriverol @anjaf Do you have suggestions for an ontology term to use for "used sample amount", in mass units?

[2020-07-03 07:57] daichengxin opened #364 "How to indicate that a raw file contains mixed peptides of different species"
In the PXD014525 project, the steps in the following figure are used. A raw file contains a mixed protein of Yeast and HELA. And in different raw files, there are different dilution ratios.  How should we properly represent such experiments?

![image](https://user-images.githubusercontent.com/37200167/86445842-a82aed00-bd45-11ea-8fd3-fcfa95544a72.png)

[2020-07-03 10:15] #223 closed

[2020-07-03 10:15] #352 closed

[2020-07-03 10:47] ypriverol commented on #364
Nothing to stop you to put two organisms in the same sample. You can use also an original strategy:

Sample 1,  Human, pooled 1, ms run 1,..
Sample 2, Yeast, pooled 1, ms run 1,...

Here pooled is used to said that two samples are in the same pool.

What do you think @levitsky

[2020-07-03 11:40] levitsky commented on #364
Yes, in accordance with our discussion about pooled samples in #223 and specification changes merged in #363, if individual samples can be annotated, then it is better to do it. Looks like the consensus is that these annotations should be repeated for each pooled sample: two rows (Yeast and HeLa) for each of the five mix ratios (per figure), for each experiment type (DDA and DIA).
Since every samp

[2020-07-05 10:15] ypriverol commented on #364
In this sense, we are having multiple samples without labeling (label-free). Therefore, I suggest using some columns to specify that both samples are merged in the same file. For example, if I took the row from this file to merge with another sdrf, I would like to know that in that msrun you have some other sample, with pool ID or pooled Sample you can do that.

[2020-07-05 10:45] daichengxin commented on #364
| Source Name | Characteristics[organism] | Characteristics[organism part] | Characteristics[developmental stage] | Characteristics[disease] | Characteristics[age] | Characteristics[sex] | Characteristics[ancestry category] | Characteristics[cell type] | Characteristics[cell line] | Characteristics[compound] | Characteristics[compound] | Characteristics[concentration   of] | Characteristics[biolog

[2020-07-05 11:19] levitsky commented on #364
@ypriverol I'm not sure I understand what problem your suggestion is solving. If you include both HeLa and Yeast rows in some other SDRF and they have some explicit annotation as pooled, then how do you know from that annotation that no **other** sample was mixed in with them in the original SDRF? I think you just don't.
Taking one row out of an SDRF table will not give anyone an adequate idea of

[2020-07-11 06:40] Douerww commented on #64
completed

[2020-07-11 10:05] #64 closed

[2020-07-13 12:16] levitsky commented on #328
Suggestion from @lisavetasol: use `characteristics[mass]` ([EFO/PATO:0000125](https://www.ebi.ac.uk/ols/ontologies/efo/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FPATO_0000125)).

Do you think it fits the purpose or should we invent a new one?

[2020-07-14 06:18] daichengxin commented on #63
completed #366

[2020-07-14 06:19] daichengxin commented on #43
completed #357

[2020-07-14 08:33] #63 closed

[2020-07-17 17:05] ypriverol opened #379 "Biological replicate and technical replicate mandatories"
Hi all:

We have discussed before in other topics this issue #267, #218 but never as the central point of the discussion. I have presented today the format to HUPO-PSI, and one suggestion is to make biological replicate and technical replicate mandatory in the file format. The `biological replicate` will be in the characteristics and `technical replicate` will be in the comment. Please, can you gi

[2020-07-20 00:36] daichengxin commented on #255
completed

[2020-07-20 07:18] mlocardpaulet commented on #379
If the `biological replicate` is provided, then it is possible to automatically find the technical replicates right? So it can be a bit redundant.
My only concern is that `technical replicate` can be different things depending on the person/team/field. It can be replicate injection, replicate sample preparation from the same biological sample... How do we want to handle this?

[2020-07-20 10:28] ypriverol opened #382 "Request Project Annotation [PXD003977]"
- Project Accession: [PXD003977]
- URL Project: [https://www.ebi.ac.uk/pride/archive/projects/PXD003977]
- PubMed Accession: [28164708]

[2020-07-20 10:32] ypriverol opened #383 "Request Project Annotation [PXD006430]"
- Project Accession: [PXD006430]
- URL Project: [https://www.ebi.ac.uk/pride/archive/projects/PXD006430]
- PubMed Accession: [28915803]

[2020-07-20 13:40] jgriss commented on #379
Hi all,

How to you imagine the `biological replicate` to be used? Would this refer to something like the treatment group?

Also I agree with @mlocardpaulet that `technical replicate` is not a well defined term / concept. And again, I am not 100% sure what to expect in this field. In technical replicates I'd expect that the `source name` would be identical. Just measured in different runs. Or am I

[2020-07-20 14:05] ypriverol commented on #379
First a little background:

Multiple packages now need the definition of a technical and biological replicate, including Perseus and MSTasts (ping @timosachsenberg and @MeenaChoi). For example, MsStats capture the following fields:

- Run : MS run ID. It should be the same as Raw.file info in raw.mq
- Channel : Labeling information (channel.0, ..., channel.9).
- Condition : Condition (ex. Healthy,

[2020-07-20 14:32] #298 closed

[2020-07-20 15:18] levitsky commented on #379
Defining the meaning of technical and biological replicates is non-trivial, but submitters will tend to use them in the same sense that they used in the study itself.

I don't think technical replicates should be guessed just from the fact that the samples are identical in other parameters.

This is a great question: while we cannot decisively define the meanings of the terms used in the whole fie

[2020-07-20 18:16] ypriverol commented on #379
Actually, I think technical and biological replicates are quite stable concepts then we don't need to define then. Of course will be up to the user to define the correct definition.

Agreed!

Yes technical replicates should contains same `sample characteristics` same `source name`

I think we before define that biological replicate was a characteristic, what we should define is if is mandatory or

[2020-07-20 21:15] mvaudel commented on #379
Hi,

I agree that information on "replicates" should be mandatory but it should still be possible to publish a standalone technical data set that does not include any specific design. Eg a single run on sample of interest.

As you say, technical vs biological replicates are not necessarily clear and universal concepts, and they put the emphasis on the sample labeling (e.g. replicate 1 of 5) which

[2020-07-21 08:04] david-bouyssie commented on #379
Very interesting discussion and complicated topic. One big issue is that a given proteomics analysis performed on groups, samples, injections and so on, maybe analysed under different angles/perspectives. It means that for a single data matrix we may want to perform different statistical analyses and thus define different experimental designs. In this case, shall we write one SDRF file for each ex

[2020-07-21 10:28] ypriverol commented on #379
A couple of ideas:

First thanks for the feedback @david-bouyssie @mvaudel. The current SDRF tries to capture as much as possible the experimental design for a PX or public dataset submission. I know the same data can be organized in multiple ways but the main purpose is to capture what has been deposited. If we want to combine or analyze the data in different ways, then yes, new SDRF's should be

[2020-07-21 12:09] julianu opened #386 "Request Project Annotation [PXD000534]"
- Project Accession: [PXD000534]
- URL Project: [https://www.ebi.ac.uk/pride/archive/projects/PXD000534]
- PubMed Accession: [25034945]

[2020-07-23 20:20] mvaudel commented on #379
Yes, handling these variables like you do for the fractions would do the trick for single shots.

I would recommend to make one _treatment_ variable mandatory, and make it possible to include more. Conversely _control_ variables should be optional. Here, _treatment_ refers to the variables used in the design so that their levels can be compared (e.g. drug vs placebo), and _control_ refers to the o

[2020-07-26 13:07] levitsky commented on #328
The proposed specification changes have been merged. I think what is left to do here is to update two annotations of spiked samples currently present (are there more?):

- [ ]  [PXD001819](https://github.com/bigbio/proteomics-metadata-standard/blob/master/annotated-projects/PXD001819/sdrf.tsv)
- [ ] [PXD009815](https://github.com/bigbio/proteomics-metadata-standard/blob/master/annotated-projects/P

[2020-07-26 20:02] ypriverol commented on #328
@daichengxin can you fix these two datasets.

[2020-07-27 22:27] ypriverol opened #389 "Request Project Annotation [PXD008355]"
- Project Accession: [PXD008355]
- URL Project: [https://www.ebi.ac.uk/pride/archive/projects/PXD008355]
- PubMed Accession: [ ]

[2020-08-05 08:06] julianu commented on #328
I will also annotate a spike-in dataset, if we have a consensus on this now.
But this is not uploaded yet, I waited for a decision here.

[2020-08-05 09:13] julianu opened #392 "Request Project Annotation [ ]"
- Project Accession: [PXD003066]
- URL Project: [https://www.ebi.ac.uk/pride/archive/projects/PXD003066]
- PubMed Accession: [27498275]

[2020-08-05 13:05] akiena opened #393 "Request Project Annotation [PXD000790 ]"
- Project Accession: [PXD000790]
- URL Project: [https://www.ebi.ac.uk/pride/archive/projects/PXD000790 ]
- PubMed Accession: [25938255]

[2020-08-05 13:42] eisenachM opened #394 "Request Project Annotation [PXD009203]"
- Project Accession: [PXD009203]
- URL Project: [https://www.ebi.ac.uk/pride/archive/projects/PXD009203]
- PubMed Accession: [30770125]

[2020-08-06 07:54] KarinSchork opened #395 "Request Project Annotation [PXD007555]"
- Project Accession: [PXD007555]
- URL Project: [https://www.ebi.ac.uk/pride/archive/projects/PXD007555]
- PubMed Accession: [30496192]

[2020-08-06 08:10] akiena opened #396 "Request Project Annotation [PXD010708]"
- Project Accession: [PXD010708 ]
- URL Project: [https://www.ebi.ac.uk/pride/archive/projects/PXD010708]
- PubMed Accession: [30207155 ]

[2020-08-06 08:12] baranme opened #397 "Request Project Annotation [PXD010705]"
- Project Accession: [PXD010705]
- URL Project: [https://www.ebi.ac.uk/pride/archive/projects/PXD010705]
- PubMed Accession: [30207155]

[2020-08-06 10:34] dirkwink opened #398 "Request Project Annotation [PXD006195]"
- Project Accession: [PXD006195 ]
- URL Project: [https://www.ebi.ac.uk/pride/archive/projects/PXD006195]
- PubMed Accession: [30692974 ]

[2020-08-06 11:13] JanBra opened #399 "Request Project Annotation [PXD010698]"
- Project Accession: [PXD010698]
- URL Project: [https://www.ebi.ac.uk/pride/archive/projects/PXD010698]
- PubMed Accession: [30207155]

[2020-08-06 14:28] julianu opened #402 "Reanalysis of older datasets, no RAW files"
Hi,

How should a dataset like https://www.ebi.ac.uk/pride/archive/projects/PXD003953 be annotated, which does not hold any "own" RAW files, but is a reanalysis. The submission PXD003953 does not contain the raw (or in this case WIFF) files anymore, only a merged MGF and mzML.
For this special dataset (and some more of mine) I know exactly where the RAWs are stored in PRIDE, e.g. in https://www.eb

[2020-08-07 09:02] miantur opened #403 "Request Project Annotation [PXD002171]"
- Project Accession: [PXD002171]
- URL Project: [https://www.ebi.ac.uk/pride/archive/projects/PXD002171]
- PubMed Accession: [26626371]

[2020-08-07 13:37] kohlmigs opened #405 "Request Project Annotation [PXD001474]"
- Project Accession: [PXD001474]
- URL Project: [https://www.ebi.ac.uk/pride/archive/projects/PXD001474]
- PubMed Accession: [25807371 ]

[2020-08-07 13:59] kleefischda opened #407 "Request Project Annotation [PXD009623 ]"
- Project Accession: [ PXD009623]
- URL Project: [https://www.ebi.ac.uk/pride/archive/projects/PXD009623 ]
- PubMed Accession: [ 30207155]

[2020-08-07 14:24] KarinSchork opened #408 "Validator uses wrong template if species "Homo sapiens" is given by key-value pair"
See pull request #406.
The validator fails when giving  NT=Homo sapiens; AC=NCBITaxon:9606 as the organism, because it seems to select the vertebrates template where column characteristics[developmental stage] is mandatory, which is not the case for the human template. Simply writing "homo sapiens" in the organism column is a workaround.

[2020-08-07 14:51] eisenachM opened #409 "characteristics[age] and characteristics[sex] columns vs. anonymization"
Annotating PXD009203 I nearly caused an accidental  de-anonymization:
In the paper the individuals are mostly statistically aggregated. In supplemental table 1 nevertheless the study cohort is characterized in detail. With internal knowledge (which we have in the institute) about the mapping between raw file and supplemental sample number a de-anonymization of the raw files to study members (age,

[2020-08-08 08:20] BajramIbishi opened #410 "Request Project Annotation [PXD004987]"
- Project Accession: [PXD004987]
- URL Project: [https://www.ebi.ac.uk/pride/archive/projects/PXD004987]
- PubMed Accession: [25938255]

[2020-08-08 18:26] #408 closed

[2020-08-08 18:27] ypriverol commented on #410
Hi @BajramIbishi thanks for reporting the project. Are you able to annotate it?. I will be more that happy to review your Pull Request and respond to questions.

[2020-08-08 18:48] ypriverol commented on #407
Dear @kleefischda would you be able to annotate the dataset? It would be great if you can do the annotations and we will support you and respond to questions etc.

[2020-08-10 06:04] kleefischda commented on #407
Hello @ypriverol. Thank you for your support. I will do my best to annotate it and hope that no further help is needed. Otherwise I will contact you.

[2020-08-10 08:34] Luxxii opened #413 "Request Project Annotation [PXD005463]"
- Project Accession: [ PXD005463]
- URL Project: [[PXD005463](https://www.ebi.ac.uk/pride/archive/projects/PXD005463)]
- PubMed Accession: [[28819139](http://europepmc.org/article/MED/28819139)]

Hi,

this is my first annotation project. So i am not sure if the information in `comment[modification parameters]` for Arginine and Lysine are correct. I am also unsure with `comment[label]` and `charact

[2020-08-13 07:39] ypriverol commented on #409
Hi @eisenachM thanks for your comments:

I understand the point that the data we want to collect can deteriorate anonymization. However, I see some issues here that we should discuss first.

- The data we want to collect sex, age, ethnicity in most of the omics repositories are captured for all individuals (GEO, ArrayExpress, ENA). The institute should define protocols to ask for the data.

- If y

[2020-08-13 07:41] ypriverol commented on #402
@julianu this is absolutely fine.

[2020-08-13 09:22] anjaf commented on #409
Yes, I agree that it is important to signal that wherever it is possible to publicize these donor annotations, they absolutely should be annotated.

For ArrayExpress submissions, we've seen an increase of people providing the information at the sample level, after prompting the categories in the submission template as mandatory. We do however allow it to leave the annotations blank, so we are not

[2020-08-13 18:35] jgriss commented on #409
Hi,

We conduct (and publish) quite a few biomedical studies. As mentioned by @ypriverol it is generally required to publish the cohort's properties. I do not agree with @eisenachM that this simplifies de-anonymisation. With internal knowledge (in our case access to the hospital's patient management system) it is often possible to de-anonymize patients. Therefore, everyone with access to this priv

[2020-08-14 07:50] eisenachM commented on #409
Hi!

I agree that the cohort’s properties have to be described in an article,

but classically that is done in an aggregated anonymized manner (mean of age in the

experimental groups, counts of gender etc.).

(In the GDPR individual non-anonymized publication of health data is not

part of the allowed “research” purpose, only in absolute exceptions with strong preconditions

fulfilled).

Our need

[2020-08-14 08:34] javizca commented on #409
Hi all,

In my view, this is not an issue related to the format.  Some of the columns need to be mandatory in order to make the annotation useful and meaningful.

We should make even more clear, as Anja mentioned, that it is the submitters responsibility to ensure that consent is granted for sharing data and metadata openly. This is indeed not next to the submission template but in the general arc

[2020-08-15 06:40] jgriss commented on #409
Hi,

Just two recent landmark proteomics studies as examples where this direct link between raw files and patient metadata is provided:

  * [Jiang et al., Nature 2019](https://www.nature.com/articles/s41586-019-0987-8)
  * [Harel et al., Cell 2019](https://www.cell.com/cell/fulltext/S0092-8674(19)30900-6) - annotated as SDRF

[2020-08-16 10:55] ypriverol opened #419 "Request Project Annotation [PXD014300]"
- Project Accession: [PXD014300]
- URL Project: [https://www.ebi.ac.uk/pride/archive/projects/PXD014300]
- PubMed Accession: []

@levitsky this is a project from your group. Can you try to annotate it.

[2020-08-16 15:12] #344 closed

[2020-08-17 07:51] mvaudel commented on #409
Hi,

Like @jgriss we work with patient and cohort data and often face such situations where we are worried that the data we need to share to ensure scientific transparency and reproducibility compromises the privacy of participants in the study. Then, it is important to consider what is a reasonable risk, and whose responsibility it is. This is different for every cohort, and it is extremely impor

[2020-08-18 08:23] #284 closed

[2020-08-18 08:24] #43 closed

[2020-08-18 08:25] ypriverol commented on #361
Any progress here @mlocardpaulet ?

[2020-08-18 13:13] ypriverol opened #421 "Metadata project need to be fixed"
The following project @qinchunyuan needs to be fixed:

https://github.com/bigbio/proteomics-metadata-standard/tree/fb26f36359d8118534cf5e9025d15dcc021bb62c/annotated-projects/PXD008222

The project is a cell line project but the information about the cell-line are not included.

[2020-08-18 14:49] ypriverol opened #423 "Error Sample accession"
Sample accession wrong in the following dataset https://github.com/bigbio/proteomics-metadata-standard/blob/master/annotated-projects/PXD001404/sdrf.tsv . Only `Sample 1` was used, when actually samples are differents.

[2020-08-20 14:48] Luxxii commented on #413
Closing, since PR #412 is merged

[2020-08-20 14:48] #413 closed

[2020-08-25 15:40] #395 closed

[2020-08-25 15:45] #394 closed

[2020-08-25 16:19] #397 closed

[2020-08-25 21:44] #403 closed

[2020-08-26 13:37] #407 closed

[2020-08-28 23:15] ypriverol opened #428 "Request Project Annotation [PXD006482]"
- Project Accession: [PXD006482]
- URL Project: [https://www.ebi.ac.uk/pride/archive/projects/PXD006482]
- PubMed Accession: [28857561]

[2020-08-29 00:33] ypriverol opened #429 "Request Project Annotation [PXD005366]"
- Project Accession: [PXD005366]
- URL Project: [https://www.ebi.ac.uk/pride/archive/projects/PXD005366]
- PubMed Accession: [ ]

[2020-08-29 00:44] ypriverol opened #430 "Request Project Annotation [PXD011175]"
- Project Accession: [PXD011175]
- URL Project: [https://www.ebi.ac.uk/pride/archive/projects/PXD011175]
- PubMed Accession: [ ]

[2020-08-29 00:51] ypriverol opened #431 "Request Project Annotation [PXD008722]"
- Project Accession: [PXD008722]
- URL Project: [https://www.ebi.ac.uk/pride/archive/projects/PXD008722]
- PubMed Accession: [ ]

[2020-08-30 22:07] #428 closed

[2020-09-01 00:46] ypriverol commented on #402
@julianu can I close this issue?

[2020-09-01 07:27] julianu commented on #402
Yes, I will add the respective datasets then with links to the older PRIDE uploads.
Thanks.

[2020-09-01 07:27] #402 closed

[2020-09-01 22:20] ypriverol commented on #409
Most of the topics were related with ProteomeXchange issues rather than the format. I will close the issue for now.

[2020-09-01 22:20] #409 closed

[2020-09-01 22:32] #431 closed

[2020-09-01 23:15] #410 closed

[2020-09-01 23:18] #399 closed

[2020-09-03 10:06] MStepath opened #436 "Request Project Annotation [PXD014565]"
- Project Accession: [PXD014565]
- URL Project: [https://www.ebi.ac.uk/pride/archive/projects/PXD014565]
- PubMed Accession: [31814417]

[2020-09-04 14:49] #379 closed

[2020-09-09 05:55] #429 closed

[2020-09-13 12:30] foellmelanie opened #451 "New use case: Mass spectrometry imaging (MSI)"
Hi all,

I made a pull request with three exemplary annotations for MSI data to start a discussion: https://github.com/bigbio/proteomics-metadata-standard/pull/450

Here are some thoughts about the annotation of MSI data with the current sdrf file format. Especially the 'MSI specific things' would benefit from a discussion.

**Metadata that applies to MSI as well**

- Label: label-free is default

[2020-09-14 08:38] daichengxin opened #452 "About annotation for peptide mixtures"
Hi All,In the LC-MS Analysis of Isoaspartylated Peptides part of the PXD006112 project, the experiment uses a mixture of 12 peptides to conduct the experiment, so Organization、 Organization part, etc. will not be applicable, and some unique information such as peptide quality may need to be added. Maybe we can learn from the key-value method of the spiked-in experiment。

![image](https://user-imag

[2020-09-14 08:50] daichengxin commented on #452
| Source Name | Peptide | Peptide | data file |
| :----: | :----: | :----: | :----: |
| Sample1 | CT=peptide;Mass=976.448;PS=AGFAGDDAPR | CT=peptide;Mass=1265.612;PS=DGNGYISAAELR | 20140919_QE6+_LC5_CY_SA_IsoAsp_40min_12mix_01 |

[2020-09-15 09:48] levitsky commented on #452
Hi, could you please specify the question or suggestion?

I see you've added peptide molecular masses in the annotation and are talking about other keys, but in the example table only masses are listed. In this case, however, the mass can be trivially calculated from the sequence, so I'm not sure I understand the benefit of adding it.

[2020-09-15 11:30] daichengxin commented on #452
Sorry. First of all, the experiment uses a mixture of 12 synthetic peptides, so organism, organism part, cell type, etc. will no longer be applicable. I am not sure if it can pass sdrf-validation.  Then for peptide 11 and peptide 12, where the isoaspartic acid residues are underlined. I am not sure if using underscores in annotation is a good option to express the isomer relationship of amino acid

[2020-09-15 11:45] levitsky commented on #452
Ah, sorry! I was thinking you about the annotation scheme for spiked compounds, but if in this case the sample itself is a relatively simple peptide mixture, then it's a different story.

We have some examples with [synthetic proteomes](https://github.com/bigbio/proteomics-metadata-standard/tree/master/sample-metadata#synthetic-peptides) already annotated. Organism and some other things are still

[2020-09-17 07:00] theodev commented on #451
Copying here from Twitter discussion:

 Here is our minimal metadata from http://metaspace2020.eu/: https://github.com/metaspace2020/metaspace/tree/master/metaspace/metadata, ironed out through the experience of working with 100+ labs, keeping the balance b/w "the more metadata the better" (it's not) & "minimum needed for processing". Also synced w/ https://www.ebi.ac.uk/metabolights/

[2020-09-17 07:16] ypriverol commented on #451
Thanks, @theodev for the comment.

[2020-09-19 19:08] ypriverol opened #453 "Request Project Annotation [PXD018970]"
- Project Accession: [PXD018970]
- URL Project: [https://www.iprox.org/page/subproject.html?id=IPX0002166001]
- PubMed Accession: [ ]

[2020-09-20 10:21] foellmelanie commented on #50
Hi @ypriverol it seems that this was never implemented? Why not? I think it is good and would also help to clarify which experiments are "mass spectrometry imaging", even though MSI is not (yet) part of the suggested ontology.

[2020-09-20 10:24] ypriverol commented on #50
Yes, I will push for this idea more.

[2020-09-20 10:27] foellmelanie commented on #50
Cool. How can the ontology be updated to include MSI?

[2020-09-20 10:27] ypriverol commented on #50
We need to request the term in that ontology.

[2020-09-20 15:56] levitsky commented on #50
Would be a great enhancement.

Are there any other experiment types not mentioned?

Also, if we make it required, we'll need to go through the bulk of annotations and add them, although it's probably mostly DDA at this point, and DIA is marked in the file names, I think?

[2020-09-21 11:34] baimingze commented on #364
Hi @ypriverol  and @levitsky , after a discussion with @daichengxin ,we found that with a column to store the index of pooled will be easier for the programmer/user who want to merge two sdrf files. Here is the reason: for some Labeled projects, the "Assay name" could be same when one sample is labeled by different tag, but they are not pooled.

[2020-09-21 11:50] baimingze commented on #364
Hi @ypriverol and @levitsky , after a discussion with @daichengxin ,we found that with a column to store the index of pool will be easier for the programmer/user who want to merge two sdrf files.

Here is the reason: for some Labeled projects, the "Assay name" could be same when one sample is labeled by different tag, but they are not pooled(if I understand the "pool" correctly), which means same

[2020-09-21 12:08] baimingze commented on #322
@levitsky Based on our understanding, the same sample at same time could also been labeled as different SILAC, for example, https://openi.nlm.nih.gov/imgs/512/365/4309511/PMC4309511_pmic0015-0374-f1.png?keywords=escc .

So we thought two "label" column are needed for this situation.

[2020-09-21 12:21] levitsky commented on #364
Hi @baimingze, indeed, without such column the way to find out if the samples are "pooled" in a meaningful way would probably be to check for equality in both `assay name` and `comment[label]`. I am personally not sure that this would be too complicated to check and required a separate column, but like I said above, I'm fine with it in the form of an optional (perhaps recommended) `comment`.

[2020-09-21 12:50] levitsky commented on #322
I'm not an expert but it looks like you're right, in such a case a repeated column may be the right way to annotate the sample.

I'm not so sure about the particular data set that I mentioned though: there is still no publication attached to it on PRIDE so I can't check the experiment description, but the metadata has TMT6Plex and doesn't mention SILAC at all.

[2020-09-21 16:58] levitsky commented on #328
@daichengxin I have looked at the two datasets that you reannotated, everything looks great to me, except one thing: I expected Sigma Aldrich listed as vendor, not Standards Research Group.

Also, we can possibly add a specification URL (CS key) for UPS1: https://www.sigmaaldrich.com/content/dam/sigma-aldrich/docs/Sigma/Datasheet/2/ups1dat.pdf. Not that it is very much necessary, but we could show

[2020-09-22 08:55] ypriverol opened #454 "Enzyme can be not applicable"
The following issue #451 makes clear that the field `comment[cleavage agent details]` can be not applicable in the following use cases:

- Top-down proteomics
- Mass spectrometry imaging

The specification should be changed accordantly. @levitsky can we adapt the validator to make possible that?

[2020-10-07 06:15] #453 closed

[2020-10-07 12:58] ypriverol opened #457 "Request Project Annotation [PXD017291]"
- Project Accession: [PXD017291]
- URL Project: [https://www.ebi.ac.uk/pride/archive/projects/PXD017291]
- PubMed Accession: [https://www.embopress.org/doi/epdf/10.15252/msb.20209500]

[2020-10-09 11:46] deeptijk opened #458 "How to annotate the disease term (characteristics) if there is no ontology present"
For example, there are six neuropathological stages designated as Braak/Braak (B/B) stages fro the early and late stages of Alzheimer's disease. But there is no ontology term for them yet. How to annotate this kind of project where ontology term is not defined.

[2020-10-09 15:53] dirkwink commented on #398
Close this issue, because PR #417 is merged.

[2020-10-09 15:53] #398 closed

[2020-10-12 08:45] enryH opened #461 "Abbreviation in the title"
Maybe it's only, but I find it a bit confusing to have _Sample and Data Relationship Format_ (SDRF) written in the title as _Sample to Data file format_ in the README.  If I am not mistaken the acutal abbreviation term is nowhere written down.

Is there a reason why both long names co-exist and are abbreviated the same?

[2020-10-15 11:00] lisavetasol commented on #331
@ypriverol
I was gonna add alkylation and reduction reagents in Readme and noticed that there is some confusion with `comment` and `characteristics` specification. For now, alkylation and reduction reagent are comments, but for example 'enrichment method' is `characteristics`, although they are in [the same pride ontology](https://www.ebi.ac.uk/ols/ontologies/pride/terms?iri=http%3A%2F%2Fpurl.obol

[2020-10-17 15:26] ypriverol commented on #458
if not term is present, please use free text. In addition, you can request the terms in the EFO ontology https://github.com/EBISPOT/efo

[2020-10-18 14:06] ypriverol opened #465 "Request Project Annotation [PXD003469]"
Glycoproteomics and proteogenomics dataset.

- Project Accession: [PXD003469]
- URL Project: [https://www.ebi.ac.uk/pride/archive/projects/PXD003469]
- PubMed Accession: [http://europepmc.org/article/MED/28607076]

[2020-10-22 08:51] david-bouyssie opened #467 "Misc. issues with some SDRF files"
I have encountered minor issues with some files:

- [ ] PXD007555 -> comment[xxx mass tolerance] => written as 5ppm, without a space between value and unit so more complicated to parse

- [ ] PXD010603 -> NM instead of NT in some PTM columns

- [ ] PXD016837 -> this one is weird because when parsing from my HTTP client the first char of the responseText is "?"
maybe an encoding issue?

Other minor

[2020-10-22 12:19] levitsky commented on #467
Thanks for reporting! I suggest editing the issue into a checklist (basically just add `[ ]` before every item, so we can work on individual items here.

[2020-10-22 12:25] david-bouyssie commented on #467
@levitsky done, however for the "other" section, I left it as is, since I'm not sure these points are real issues, so it should be discussed first.

[2020-10-28 13:59] ypriverol commented on #331
I think all properties related to the sample should be moved to sample characteristics rather than comments. What do you think @StSchulze @jgriss @levitsky @mvaudel

[2020-10-28 14:42] StSchulze commented on #331
If "sample" is defined as the organism and condition/state it's in before any sample preparation, then I agree it should be comments.
And I would add to the list of parameters that should be in the same category: enzyme (cleavage agent details) and label (which are currently comments as well, so that fits).

[2020-10-29 06:51] jgriss commented on #331
I agree with @StSchulze

Everything that's part of the original sample and independent of the actual sample prep should be part of "sample".

Grouping all sample prep associated properties into one category seems like a very good idea and would increase the readability of the format quite a bit.

[2020-10-29 14:09] #396 closed

[2020-10-29 14:09] #393 closed

[2020-11-01 09:35] #467 closed

[2020-11-01 11:09] ypriverol opened #472 "Templates as Checklists in ENA"
@all We are thinking to create a List of templates like ENA (https://www.ebi.ac.uk/ena/browser/checklists). The idea would be to have a list that can evolve and we can do releases of the format every time a new set of templates/checklists are added.

[2020-11-01 21:55] #458 closed

[2020-11-01 21:56] #454 closed

[2020-11-01 21:58] #331 closed

[2020-11-01 23:17] ypriverol commented on #389
Done

[2020-11-01 23:17] #389 closed

[2020-11-01 23:18] ypriverol commented on #361
annotation done

[2020-11-01 23:18] #361 closed

[2020-11-01 23:18] ypriverol commented on #430
Done

[2020-11-01 23:18] #430 closed

[2020-11-01 23:19] ypriverol commented on #308
Done

[2020-11-01 23:19] #308 closed

[2020-11-01 23:20] ypriverol commented on #277
Done.

[2020-11-01 23:20] #277 closed

[2020-11-01 23:21] ypriverol commented on #312
Done.

[2020-11-01 23:21] #312 closed

[2020-11-01 23:23] ypriverol commented on #383
Done.

[2020-11-01 23:23] #383 closed

[2020-11-01 23:25] ypriverol commented on #287
@levitsky are you planning to submit this dataset.

[2020-11-02 18:52] ypriverol opened #474 "Major proposals in the PSI Document"
The PSI document has made some major comments to the specification:

- [x] Name the format SDRF-Proteomics
- [x] Include some structure to the document for a better understanding (https://emblebi-my.sharepoint.com/:w:/g/personal/yperez_ebi_ac_uk/ET-L2umVlXJCtsgx0f0jVDUBdMXvqi3s30_xJa1Q7tdqIA?e=tt4Or5)
- [x] Include a section for use cases and templates.

[2020-11-02 21:37] #328 closed

[2020-11-02 21:39] #167 closed

[2020-11-02 21:40] #225 closed

[2020-11-02 21:42] #211 closed

[2020-11-02 21:43] #299 closed

[2020-11-03 20:10] levitsky commented on #287
Unfortunately it turned out much harder than I anticipated. I thought we had it annotated internally, but it turned out that we only annotated a fraction of the data. I tried to annotate the rest but it wasn't easy to extract the data from ProteomicsDB. We talked about it in #266 and @patroklossam kindly agreed to annotate it, so I put that work on pause.

[2020-11-03 22:05] ypriverol opened #475 "Request Project Annotation [PXD020192]"
- Project Accession: [PXD020192]
- URL Project: [https://www.ebi.ac.uk/pride/archive/projects/PXD020192]
- PubMed Accession: [https://pubs.acs.org/doi/10.1021/acs.jproteome.0c00502]

[2020-11-04 19:01] #461 closed

[2020-11-04 19:01] #472 closed

[2020-11-04 19:01] #474 closed

[2020-11-08 01:07] #475 closed

[2020-11-08 01:08] #465 closed

[2020-11-08 01:10] #457 closed

[2020-11-12 16:06] ypriverol opened #482 "Request Project Annotation [PXD010271]"
- Project Accession: [PXD010271]
- URL Project: [PXD010271]
- PubMed Accession: [PXD010271]

[2020-11-19 07:50] #482 closed

[2020-11-21 10:08] savita-nferx opened #484 "SDRFs that fail to generate mqpar.xml file"
Annotations that are giving error while generating mqpar file;
PXD002171
PXD013765
PXD000561

Couple of screen shots of error messages:
<img width="1012" alt="PXD002171" src="https://user-images.githubusercontent.com/65764831/99874594-41807000-2c0f-11eb-87c8-00e3ffb8b8bb.png">
<img width="1073" alt="PXD013765" src="https://user-images.githubusercontent.com/65764831/99874598-46452400-2c0f-11eb-8f95

[2020-11-23 07:44] daichengxin commented on #484
Hi savita, thank you for your feedback. I have added Missing Field in PXD002171 and other annotations that have similar problems. But it’s OK when testing with PXD013765、PXD000561.  Look at your screenshot, it should be the latest version of the code has not been released yet, I will do. @savita-nferx

[2020-11-23 07:58] daichengxin commented on #484
Can you check that your code is up to date? @savita-nferx

[2020-11-28 00:24] #484 closed

[2020-12-02 10:16] ovigy opened #488 "SDRF file format problem (px-submission-tool vs. sdrf-pipeline)"
Hi All,

related to the PXD022713 dataset I submitted last week (private for the moment), I encountered a problem with the SDRF file I tried for the first time to generate and submit (as suggested by the px-submission-tool v2.5.2).

Could you please help me in understanding what was wrong in the format? I used the Python "sdrf-pipeline" to validate it upstream from the PRIDE submission.

I used th

[2020-12-03 10:56] daichengxin commented on #488
Hi ovigy, the px-submission-tool use jsdrf to verify sdrf files. I tested SDRF_ND9.tsv file with sdrf-pipelines, Everything seems to be fine. But there is a problem with jsdrf verification . @ovigy

[2020-12-03 11:02] ypriverol commented on #488
Can you explain @daichengxin what is the error?

[2020-12-03 11:21] daichengxin commented on #488
I may need to look at the jsdrf code, now I can’t see what fields are missing in this file @ypriverol

[2020-12-03 11:26] ovigy commented on #488
Hi!
Thanks for your replies.
I tried first to use the Java tool but the user documentation was to light for me, sorry I'm not familiar with Maven and java libraries. I will give it a new try.
It was easier for me with Python.
Thanks

[2020-12-03 11:35] ypriverol commented on #488
thanks @ovigy , we will review the code and go back to you soon.

[2020-12-03 14:45] daichengxin commented on #488
Thanks for your feedback @ovigy , the jsdrf has bugs and will be fixed

[2020-12-03 14:51] ovigy commented on #488
You're welcome. Thanks in return for the documentation and your help.
Have a good day

[2020-12-11 09:11] ypriverol opened #491 "New column needed for versions [PSI-Suggestion]"
We need to control the version of the file format in each SDRF. If the standard develops over time (as expected) would be great to control what is the version for a specific file.

My proposal is to have a column comment[sdrf-p version] that controls the version of the file format.

Comments @levitsky @mvaudel @mlocardpaulet @all

[2020-12-11 23:47] levitsky commented on #491
On one hand this sure sounds redundant, having the same string repeated for all rows and basically representing something that doesn't belong in any row, as this is metadata but it is mixed with data here (or should I say, meta-metadata mixed with metadata?).

On the other hand, I do not see any good alternatives for adding this information within the same file. Perhaps a clean solution would be t

[2020-12-12 08:50] mlocardpaulet commented on #491
My personal opinion is that if we want everybody to generate the SDRF themselves for submission (MS users with no informatics background included), we need to keep it as easy as possible for them: so a new column (even if this is redundant) sounds good to me.

[2020-12-12 09:06] ypriverol commented on #491
The other format would be the IDF, which is part of the MAGETAB and contains general metadata (key:value) and the corresponding SDRF link and also additional information such as protocols, versions, authors etc. https://github.com/ebi-gene-expression-group/sc-metadata-fields/blob/master/IDF_template.txt

[2020-12-12 10:20] daichengxin commented on #491
Personal opinion: If  just add version information, a new column is enough even if it may be redundant. But ```characteristic``` and ```comment``` should be avoided. ```sdrf[version]```?

Because this attribute belongs neither to the sample nor to the proteomics data related information. If  want to add more information, a separate small file with metadata is optional

[2020-12-13 10:41] ypriverol commented on #491
@anjaf do you know which prefix we can use for the SDRF version?

[2020-12-14 09:57] anjaf commented on #491
I like @ypriverol's idea of making it a comment in the IDF, e.g. `Comment[SDRF version]`. This is how we usually include custom study-level annotations.

[2020-12-14 21:49] ypriverol commented on #491
@levitsky @mlocardpaulet @anjaf :

I was discusing with @anjaf today and we find out that SDRF accepts comments around the file using `#`:

[code]

What do you think about adding a general header to each file containing SDRF version, and other future metadata.

@timosachsenberg @mvaudel ?

[2020-12-14 22:06] levitsky commented on #491
I think it's a practical solution. We will have to update the parser(s) so that it works on files with comments, but it's not that hard.

[2020-12-20 03:52] #346 closed

[2021-01-04 14:12] andrewrobertjones opened #495 "PXD001474 issues"
(Just reviewing the specs and checking out a few example files, so raising issues here when I see problems).

This file seems to be missing the crucial info of the experimental groups (high / low fibrosis)

Also one of the columns has values saying "Not availaable" (typo)

[2021-01-04 14:16] andrewrobertjones opened #496 "PXD017710 issues"
The SILAC labels don't look right to me (nor the metadata), was this generated by some code from the TMT example? Not obvious how to interpret any of the metadata in the file

[2021-01-04 14:18] ypriverol commented on #495
@andrewrobertjones can you provide an example Not availaable? I can't find it

[2021-01-04 14:22] andrewrobertjones opened #497 "PXD018357 issues"
I'm not sure the sample IDs look right here. Surely the purpose of the TMT design would be that different samples are analysed and compared? Within one raw file, both the control and the infected cells have the same sample ID. Unless I misunderstand the concept and scope of a "sample" - if you have a starting sample that different treatments are applied to, when does it become a different sample?

[2021-01-04 14:31] andrewrobertjones commented on #496
Oxidation is also specified as a fixed mod rather than variable

[2021-01-04 15:20] andrewrobertjones commented on #495
Sorry "not avaailable"

[2021-01-04 16:36] ypriverol commented on #496
@andrewrobertjones this specific dataset is still under active development. This is a turnover dataset with SILAC and TMT label in the same experiment. Quite a challenge to handle. I will put this issue on hold to be dicusss in the future if you don't mind. The PTM has been fixed.

[2021-01-15 18:01] ypriverol opened #500 "Request Project Annotation [PXD005539]"
- Project Accession: [PXD005539]
- URL Project: [https://www.ebi.ac.uk/pride/archive/projects/PXD005539]
- PubMed Accession: [https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5372822/]

[2021-01-16 08:19] #495 closed

[2021-01-18 07:25] #497 closed

[2021-01-18 07:25] #500 closed

[2021-01-22 21:33] ypriverol opened #502 "Request Project Annotation [PXD014458]"
- Project Accession: [PXD014458]
- URL Project: [https://www.ebi.ac.uk/pride/archive/projects/]
- PubMed Accession: [ ]

[2021-01-22 21:36] ypriverol opened #503 "Request Project Annotation [PXD015270]"
- Project Accession: [PXD015270]
- URL Project: [https://www.ebi.ac.uk/pride/archive/projects/PXD015270]
- PubMed Accession: [ ]

[2021-01-22 22:22] ypriverol opened #504 "Request Project Annotation [PXD001468]"
- Project Accession: [PXD001468]
- URL Project: [https://www.ebi.ac.uk/pride/archive/projects/PXD001468]
- PubMed Accession: [ ]

[2021-01-28 17:16] ypriverol opened #506 "Add Technology Type to each SDRF"
@daichengxin :

Can you add to each SDRF in my fork https://github.com/ypriverol/proteomics-metadata-standard the field

`Technology   Type` with the value: `proteomic profiling   by mass spectrometer`

like the project: PXD000288 https://github.com/ypriverol/proteomics-metadata-standard/blob/master/annotated-projects/PXD000288/PXD000288.sdrf.tsv

[2021-01-29 11:21] daichengxin commented on #506
I have added @ypriverol . https://github.com/ypriverol/proteomics-metadata-standard/pull/2

[2021-01-29 22:48] ypriverol opened #508 "Move Material Type to samples carateristics"
@daichengxin:

Can you move the `Material Type` before the assay name. The material type should be part of the sample's characteristics. if we want to used also as a factor value, then we need to mention it as: `factor value[material type]`. Please @daichengxin do the changes in my fork.

[2021-01-30 13:48] levitsky commented on #506
Why is this necessary? Are we adding a completely fixed value to every row in every SDRF-Proteomics file everywhere?

[2021-01-30 14:10] ypriverol commented on #506
@levitsky the field is optional, but it is RECOMMENDED for compatibility with Transcriptomics data. EXample https://www.ebi.ac.uk/arrayexpress/files/E-MTAB-9694/E-MTAB-9694.sdrf.txt The `Technology Type` is used to describe the omics technology.

[2021-01-30 14:17] ypriverol commented on #491
We will move this information to the IDF, please read PR #505

[2021-02-02 12:00] #491 closed

[2021-02-02 12:00] #506 closed

[2021-02-02 12:00] #508 closed

[2021-02-02 12:33] #502 closed

[2021-02-02 12:33] #503 closed

[2021-02-02 12:33] #504 closed

[2021-02-03 09:16] ypriverol opened #514 "Create manually the IDF for CPTAC project"
@daichengxin :

Can you create the IDF for this project https://github.com/bigbio/proteomics-metadata-standard/blob/master/annotated-projects/PMID27251275/PMID27251275.sdrf.tsv

[2021-02-08 15:31] ypriverol opened #516 "Request Project Annotation [PXD002932]"
- Project Accession: [PXD002932]
- URL Project: [https://www.ebi.ac.uk/pride/archive/projects/PXD002932]
- PubMed Accession: [http://europepmc.org/article/MED/26635363]

[2021-02-11 11:42] ypriverol opened #520 "Error CPTAC assay names"
@rudnickp @daichengxin :

CPTAC datasets have same `assay name`  for different `data files` which is wrong:

- [ ] @rudnickp or @daichengxin can you fix that.
- [ ] @levitsky can we validate that in in the sdrf-pipelines.

[2021-02-11 12:43] levitsky commented on #520
Sure, you want to validate that data files and assay names correspond 1-to-1?
I can do that, but if @daichengxin is currently working on validation of column order (https://github.com/bigbio/sdrf-pipelines/issues/69), including assay name, should I wait a bit to avoid problems when merging the changes?

[2021-02-12 14:52] ypriverol opened #522 "First DIA dataset annotated."
Hi @bigbio/collaborators :

The following dataset https://github.com/bigbio/proteomics-metadata-standard/blob/b9b3463bef54e8dd1410d1cac3c9961e67a569af/annotated-projects/PXD003539/PXD003539.sdrf.tsv contains the annotations for the sample of the dataset PXD003539 as requested by #309 by @MeenaChoi . The sample annotations are done but the Comment section (the information about the data NOT).

Some

[2021-02-12 15:49] StSchulze commented on #522
PTMs: all modifications that result from the way the sample is obtained/prepped (e.g. Carbamidomethyl, TMT, SILAC labels, ...) should still be captured, i.e. it's in my opinion the same as for DDA, since the format doesn't capture the search/data analysis but the sample

Mass tolerances: this is still relevant in my opinion. DIA methods, as far as I know, can still acquire MS1 spectra, so the accu

[2021-02-12 16:28] fcyu commented on #522
Hi @ypriverol ,

Attached please find the default parameters for DIA-Umpire.

Best,

Fengchao

[umpire-se_default.zip](https://github.com/bigbio/proteomics-metadata-standard/files/5973075/umpire-se_default.zip)

[2021-02-12 16:57] fcyu commented on #522
The key parameters in DIA-Umpire are `SE.MS1PPM`, `SE.MS2PPM`, `SE.NoMissedScan`, and `SE.EstimateBG`. `SE.NoMissedScan = 2` gives longer run time, but extracts a bit more precursors, so gives a bit more IDs. In small datasets, `SE.NoMissedScan` can be 2. When there are many files, `SE.NoMissedScan` can be set to 1.

[2021-02-13 00:48] tiannanguo commented on #522
hi guys, thanks for your interest in this NCI60 swath data set, and thank to @ypriverol for reminding me of this effort.

1, PTMs: I agree with @StSchulze in that in terms of data acquisition of potential PTMs-peptides or other peptide variants, DIA is not different from DDA. We do not need a prior info of PTMs before we can re-analyze them.

2, precursor/frag tolerance:  again this is important i

[2021-02-13 09:34] #514 closed

[2021-02-13 09:34] #520 closed

[2021-02-14 19:47] ypriverol opened #524 "Error modification"
In the deamidation mod, the number was increased https://github.com/bigbio/proteomics-metadata-standard/blob/master/annotated-projects/PXD006132/PXD006132.sdrf.tsv

[2021-02-15 12:22] ypriverol opened #525 "Request Project Annotation [PXD002815]"
- Project Accession: [PXD002815 ]
- URL Project: [ ]
- PubMed Accession: [ ]

[2021-02-15 12:33] ypriverol opened #526 "Request Project Annotation [ PXD021882]"
- Project Accession: [PXD021882]
- URL Project: [ ]
- PubMed Accession: [ ]

[2021-02-15 12:51] ypriverol opened #527 "Request Project Annotation [PXD008697]"
- Project Accession: [PXD008697]
- URL Project: [https://repository.jpostdb.org/entry/JPST000332]
- PubMed Accession: [ ]

[2021-02-15 14:43] Leon-Bichmann commented on #522
Hi, yes I agree same way of annotating PTMs for DDA and DIA would make sense I think.

In addition maybe the following parameters might be usefull:
`rt_extraction_window`: eg. 10min
`ion_mobility_window`: eg. 10msec
`min_upper_edge_dist`: eg. 1Th (Overlap between swath windows)
`iRT standard`: eg. Biognosys iRT kit

[2021-02-15 21:59] ypriverol opened #528 "Request Project Annotation [PXD018301]"
- Project Accession: [PXD018301]
- URL Project: [ ]
- PubMed Accession: [ ]

[2021-02-16 13:59] ypriverol opened #529 "CPTAC metadata missing"
@daichengxin :

The patient related metadata for the following dataset is missing https://github.com/bigbio/proteomics-metadata-standard/blob/master/annotated-projects/PMID25043054/PMID25043054.sdrf.tsv you can find the metadata here:

https://cptac-data-portal.georgetown.edu/study-summary/S022

[2021-02-17 16:49] ypriverol opened #532 "Major annotation efforts"
- [ ] PXD015744
- [ ] PXD019123
- [x] PXD010429
- [x] PXD008440
- [x] PXD010357

[2021-02-17 16:57] ypriverol opened #533 "Request Project Annotation [PXD005671]"
- Project Accession: [PXD005671]
- URL Project: [ ]
- PubMed Accession: [ ]

Additional paper data https://onlinelibrary.wiley.com/doi/epdf/10.1002/rcm.7959

[2021-02-17 21:45] ypriverol opened #534 "Request Project Annotation [PXD015912]"
- Project Accession: [PXD015912]
- URL Project: [https://www.ebi.ac.uk/pride/archive/projects/PXD015912]
- PubMed Accession: [ ]

[2021-02-19 14:35] #529 closed

[2021-02-20 14:36] ypriverol commented on #532
@Douerww Can you take this issue.

[2021-03-01 21:02] #532 closed

[2021-03-12 19:42] mwang87 opened #542 "ReDU/GNPS Metabolomics SDRF Conversions"
We have an example of one dataset converted in this PR:

https://github.com/bigbio/proteomics-metadata-standard/pull/541

Let us know what you think.

If ok, we can import 204 more datasets from ReDU.

[2021-03-16 19:15] mwang87 commented on #542
I've added another PR for metabolomics data with an actual factor:

https://github.com/bigbio/proteomics-metadata-standard/pull/544

Let me know what you think.

[2021-03-16 19:16] mwang87 commented on #542
I've also updated #541 to include more metabolomics specific information and fixed formatting.

[2021-03-19 12:27] #309 closed

[2021-03-19 12:27] #522 closed

[2021-03-19 12:27] #524 closed

[2021-04-06 12:22] jpfeuffer opened #547 "Request Project Annotation [PXD002370]"
- Project Accession: [PXD002370]
- URL Project: [https://www.ebi.ac.uk/pride/archive/projects/PXD002370]
- PubMed Accession: [26572953]

Another LFQ UPS1 standard with basic settings.

[2021-05-06 14:33] veitveit commented on #266
Isn't there something wrong with the annotation of the fragmentations?

For example, I can see that some files were run with ETD, ETciD and EThcD at the same time? Somehow the description does not fit the annotations but I do not see how one could get the full information.

[2021-05-07 07:00] patroklossam commented on #266
Hi Veit!

ProteomeTools data was aquired on a flexible tribrid instrument, with multiple fragmentation modes/energies triggered on every precursor to generate a comprehensive characterization of every peptide using multiple fragmentation modes/energies.

There are usually 4 different runs per pool of 1000 synthetic peptides, the modes used are somewhat annotated in the rawfile name:

1. Files name

[2021-05-07 07:31] veitveit commented on #266
Hi Patroklos,
Thanks a lot for the quick and informative reply!

We now understood the setup.

[2021-06-04 09:18] glormph opened #551 "PXD010154 instrument/ontology mismatch in sdrf"
Hi,
I'm not sure I'm doing this correctly but I recently encountered the SDRF for PXD010154, which contains files from a "Q Exactive Plus" instrument. But the instrument ontology code was MS:1002526, which is for an "Exactive Plus", without a Q. The correct code would I guess be to use MS:1002634.

I don't know where how this data is generated, but wanted to inform in case it's mismatched in code

[2021-06-04 09:19] ypriverol commented on #551
Tahnks, We will be fix it

[2021-06-08 06:00] fabianegli opened #552 "image source & PNG background settings"
The PNG background of the PowerPoint exported graphics is apparently transparent, but that means the figures are hardly readable when using a dark theme on GituHub (and most probably elsewhere) e.g. https://github.com/bigbio/proteomics-metadata-standard/tree/master/sdrf-proteomics

I suggest using a white background. It is easy to add with [ImageMagick](https://imagemagick.org/script/convert.php):

[2021-06-08 06:39] #551 closed

[2021-07-08 08:38] mlocardpaulet opened #560 "multiple organisms in the context of over-expressed protein for pull down"
Hi, I am annotating a dataset where the authors express mouse proteins in human cells for pull down. I am not sure how to handle the field "characteristics[organism]".
Also, is there a way to add the tag of the bait?
Thank you for your help.

[2021-08-09 08:40] brvpuyve opened #568 "LFQBenchmark experiment - multiple organisms"
Hi everyone,

I generated an updated LFQbenchmark dataset, similar to the one from Navarro et al. (https://pubmed.ncbi.nlm.nih.gov/27701404/). I was wondering how I could best annotate the mixtures (as pooled samples)? Can I mention more than one organism in the characteristics[organism] column?
Additionally, would it be beneficial to add an additional comment section to define the ratio's of the

[2021-08-30 06:52] ypriverol commented on #568
Hi @mlocardpaulet @brvpuyve :

First, my apologies for the late reply, I was OFF for a couple of weeks. I was discussing a some weeks ago about with @anjaf about how to represent multiplexed samples in an experiment.

We have two options here:

1- Represent each sample as an independent sample, adding a characteristics to the sample called `characteristics[concentration of]` and link each sample t

[2021-08-30 07:22] mlocardpaulet commented on #568
Hi @ypriverol
thanks a lot. I like option 1- very much. So to be clear: there will be duplicated file names?

[2021-08-30 18:48] brvpuyve commented on #568
Option 1 is maybe the best approach although it will be some work for me to add the extra lines :-) Let me know what is decided and I will create the SDRF's.

Thanks for the comments!

[2021-08-31 09:53] ypriverol commented on #568
Yes. We have the same case when multiple samples are multiplexed in the same RAW file.

[2021-08-31 18:35] enryH commented on #568
I guess option one is fine if the python client can identify such a case?
- each `raw` file, if not unique is a mixture?
- should concentration add to 100%? (to be valid?)

[2021-08-31 19:08] jgriss commented on #568
Hi all,

We already have this case covered in some sorts for isobarically labelled experiments (see [PXD017799](https://github.com/bigbio/proteomics-metadata-standard/blob/master/annotated-projects/PXD011799/PXD011799.sdrf.tsv) as an example). Here, we also have mixtures of multiple, independent samples in one `raw` file.

I therefore strongly suggest to stay consistent with the design approach th

[2021-09-17 09:31] mlocardpaulet commented on #568
Hello again, sorry it took me so long to come back to this.
I am looking at the headers that have been utilised in the SDRF generated to date and I see that `characteristics[concentration of]` is used to define the concentration of compounds defined in `characteristics[compound]`. So if we go with the option 1 (if I understood well: one row per sample in the pool, with the respective quantities an

[2021-09-22 13:59] enryH commented on #568
Hmm. If there is `characteristics[organism]` and `characteristics[compound]` then I guess it has to be ordered, but I am not 100% sure about this:

characteristics[organism] | characteristics[concentration of] | characteristics[compound] | characteristics[concentration of]
--- | --- | --- | ---

Could you explain the type of experiment where this is an issue?

But I agree that this could be an iss

[2021-09-24 09:49] magnuspalmblad opened #574 "Dead URLs for annotated examples"
The Label-free and TMT example URLs do not work (https://github.com/bigbio/proteomics-metadata-standard/blob/master/annotated-projects/PXD008934/sdrf.tsv and https://raw.githubusercontent.com/bigbio/proteomics-metadata-standard/master/annotated-projects/PMID27251275/sdrf.tsv).

[2021-09-24 10:00] ypriverol commented on #574
fixed.

[2021-09-24 10:00] #574 closed

[2021-09-30 20:01] wraff opened #575 "inconsistent sdrf column labels, heterologous spike-in species"
First of all I'd like to congratulate you to this great effort to present meta-data in a standardized way !
As I'm writing a script to read sdrf files into R for using this information (with my CRAN-package wrProteo) I looked at some sdrf files at random.
Of course, I understand that some annotations are rather specific to special experimental setup types, while others are very universal (I suppos